In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np

## 0. DataFrame

In [2]:
football_df = pd.read_csv('all_data_with_elo.csv', low_memory = False)
football_df

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,B365D,B365A,IWH,IWD,IWA,WHH,WHD,WHA,HomeTeamELO,AwayTeamELO
0,0,F1,2000-07-28,Marseille,Troyes,3.0,1.0,H,NaN,NaN,...,NaN,NaN,1.45,3.50,5.00,1.45,3.50,6.00,1690.283447,1580.911621
1,1,F1,2000-07-28,Paris SG,Strasbourg,3.0,1.0,H,NaN,NaN,...,NaN,NaN,1.35,3.60,6.50,1.40,3.70,6.50,1719.976318,1636.466431
2,2,F1,2000-07-29,Auxerre,Sedan,0.0,1.0,A,NaN,NaN,...,NaN,NaN,1.70,3.10,3.80,1.65,3.25,4.70,1635.098511,1634.386719
3,3,F1,2000-07-29,Bordeaux,Metz,1.0,1.0,D,NaN,NaN,...,NaN,NaN,1.55,3.30,4.50,1.50,3.40,6.00,1729.042725,1677.067505
4,4,F1,2000-07-29,Guingamp,St Etienne,2.0,2.0,D,NaN,NaN,...,NaN,NaN,2.20,2.80,2.80,2.40,2.90,2.75,1576.033813,1621.786011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37394,37394,SP1,2021-10-24,Sevilla,Levante,5.0,3.0,H,18.0,12.0,...,4.2,8.0,1.47,4.40,7.00,1.44,4.20,7.50,1839.052124,1629.306763
37395,37395,D1,2021-10-24,Stuttgart,Union Berlin,1.0,1.0,D,8.0,11.0,...,3.5,2.9,2.50,3.40,2.85,2.45,3.40,2.80,1641.394043,1690.527466
37396,37396,I1,2021-10-24,Verona,Lazio,4.0,1.0,H,16.0,9.0,...,3.6,2.2,3.05,3.55,2.25,3.10,3.50,2.25,1591.301147,1709.902466
37397,37397,E0,2021-10-24,West Ham,Tottenham,1.0,0.0,H,13.0,7.0,...,3.5,3.0,2.40,3.45,2.95,2.38,3.40,2.90,1834.961426,1804.304077
37398,37398,SP1,2021-10-25,Getafe,Celta,0.0,3.0,A,11.0,16.0,...,3.0,3.1,2.65,2.95,3.00,2.55,3.00,3.00,1604.867065,1698.811035

## 1. Descriptive Statistics

**1.1 DataFrame Shape**

In [3]:
# no. rows and no. cols
football_df.shape

(37399, 23)

In [4]:
# feature names
print(football_df.columns.tolist())

['Unnamed: 0', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'B365H', 'B365D', 'B365A', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'HomeTeamELO', 'AwayTeamELO']

**1.2 NaN Values**

In [5]:
football_df.isnull().sum()

Unnamed: 0        0
Div               0
Date              0
HomeTeam          0
AwayTeam          0
FTHG              0
FTAG              0
FTR               0
HS             4913
AS             4913
HST            5719
AST            5719
B365H          3412
B365D          3412
B365A          3412
IWH             165
IWD             165
IWA             165
WHH             736
WHD             736
WHA             736
HomeTeamELO     303
AwayTeamELO     306
dtype: int64

In [6]:
# total elements in 
football_df.size

860177

In [7]:
# total number of NaN
football_df.size - football_df.count().sum()

34812

In [8]:
# total number of NaN rows
football_df.isnull().any(axis = 1).sum()

7994

In [9]:
# total number of NaN columns
football_df.isnull().any(axis = 0).sum()

15

## 2. Data Wrangling and Feature Transformation/Development

**2.1 NaN Handling**

`TODO`: drop NaN values along columns: {Date, Home Team, Away Team, FTR} <br>
`TODO`: identify betting odds w/ most available data

In [19]:
nan_mask = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTR', 'B365H', 'B365D', 'B365A', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA']

In [20]:
#football_df.FTR.replace('nan', np.nan, inplace=True)
nan_football_df = football_df.dropna(subset = nan_mask)
nan_football_df

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,B365D,B365A,IWH,IWD,IWA,WHH,WHD,WHA,HomeTeamELO,AwayTeamELO
3357,3357,F1,2002-08-03,Bastia,Lens,1.0,1.0,D,NaN,NaN,...,2.875,2.625,2.60,2.80,2.60,2.50,3.1,2.50,1638.443726,1721.884644
3358,3358,F1,2002-08-03,Lille,Bordeaux,0.0,3.0,A,NaN,NaN,...,3.000,3.200,2.20,2.80,3.10,2.20,3.1,2.87,1697.769775,1706.673584
3359,3359,F1,2002-08-03,Marseille,Nantes,0.0,2.0,A,NaN,NaN,...,3.000,2.875,2.20,2.90,3.00,2.20,3.0,3.00,1635.754883,1707.416260
3360,3360,F1,2002-08-03,Montpellier,Rennes,1.0,0.0,H,NaN,NaN,...,3.000,4.000,1.90,2.90,3.80,1.90,3.1,3.60,1625.260742,1637.619751
3361,3361,F1,2002-08-03,Nice,Le Havre,1.0,2.0,A,NaN,NaN,...,3.000,3.750,2.00,2.90,3.40,1.83,3.2,3.75,1528.176514,1570.564941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37394,37394,SP1,2021-10-24,Sevilla,Levante,5.0,3.0,H,18.0,12.0,...,4.200,8.000,1.47,4.40,7.00,1.44,4.2,7.50,1839.052124,1629.306763
37395,37395,D1,2021-10-24,Stuttgart,Union Berlin,1.0,1.0,D,8.0,11.0,...,3.500,2.900,2.50,3.40,2.85,2.45,3.4,2.80,1641.394043,1690.527466
37396,37396,I1,2021-10-24,Verona,Lazio,4.0,1.0,H,16.0,9.0,...,3.600,2.200,3.05,3.55,2.25,3.10,3.5,2.25,1591.301147,1709.902466
37397,37397,E0,2021-10-24,West Ham,Tottenham,1.0,0.0,H,13.0,7.0,...,3.500,3.000,2.40,3.45,2.95,2.38,3.4,2.90,1834.961426,1804.304077
37398,37398,SP1,2021-10-25,Getafe,Celta,0.0,3.0,A,11.0,16.0,...,3.000,3.100,2.65,2.95,3.00,2.55,3.0,3.00,1604.867065,1698.811035

In [22]:
# resize shape
football_df.shape[0] - nan_football_df.shape[0]

4069

**2.2 Feature Transformation** <br>
* One hot encode Division, Home and Away Teams
* Label encode Full Time Result (Win/Draw/Loss)
* $\phi(Date)$ $\Rightarrow$ one column for *year*, second column for *day of year*
* $\phi(x)$ feature transformation $\Rightarrow$ win/loss streak to date
* Betting odds $\Rightarrow$ average the home, away, and draw odds from the two odd sites

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [24]:
feats = nan_mask

In [26]:
learning_df = nan_football_df.copy()[feats]
learning_df

,Div,Date,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,IWH,IWD,IWA,WHH,WHD,WHA
3357,F1,2002-08-03,Bastia,Lens,D,2.500,2.875,2.625,2.60,2.80,2.60,2.50,3.1,2.50
3358,F1,2002-08-03,Lille,Bordeaux,A,2.100,3.000,3.200,2.20,2.80,3.10,2.20,3.1,2.87
3359,F1,2002-08-03,Marseille,Nantes,A,2.250,3.000,2.875,2.20,2.90,3.00,2.20,3.0,3.00
3360,F1,2002-08-03,Montpellier,Rennes,H,1.833,3.000,4.000,1.90,2.90,3.80,1.90,3.1,3.60
3361,F1,2002-08-03,Nice,Le Havre,A,1.909,3.000,3.750,2.00,2.90,3.40,1.83,3.2,3.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37394,SP1,2021-10-24,Sevilla,Levante,H,1.440,4.200,8.000,1.47,4.40,7.00,1.44,4.2,7.50
37395,D1,2021-10-24,Stuttgart,Union Berlin,D,2.370,3.500,2.900,2.50,3.40,2.85,2.45,3.4,2.80
37396,I1,2021-10-24,Verona,Lazio,H,3.100,3.600,2.200,3.05,3.55,2.25,3.10,3.5,2.25
37397,E0,2021-10-24,West Ham,Tottenham,H,2.300,3.500,3.000,2.40,3.45,2.95,2.38,3.4,2.90
37398,SP1,2021-10-25,Getafe,Celta,A,2.500,3.000,3.100,2.65,2.95,3.00,2.55,3.0,3.00

**2.2.1 Division and Home/Away Team Encoding**

In [ ]:
div_encoder = OneHotEncoder()
home_encoder = OneHotEncoder()
away_encoder = OneHotEncoder()

In [ ]:
onehot_div = div_encoder.fit_transform(learning_df.Div.values.reshape(-1,1)).toarray().astype(int)
onehot_div_df = pd.DataFrame(onehot_div, columns = ["Div "+str(int(i)) for i in range(onehot_div.shape[1])])

onehot_home = home_encoder.fit_transform(learning_df.HomeTeam.values.reshape(-1,1)).toarray().astype(int)
onehot_home_df = pd.DataFrame(onehot_home, columns = ['HomeTeam ' + str(int(i)) for i in np.arange(onehot_home.shape[1])])

onehot_away = away_encoder.fit_transform(learning_df.AwayTeam.values.reshape(-1,1)).toarray().astype(int)
onehot_away_df = pd.DataFrame(onehot_away, columns = ['AwayTeam ' + str(int(i)) for i in np.arange(onehot_away.shape[1])])

In [ ]:
learning_df = pd.concat([learning_df, onehot_div_df, onehot_home_df, onehot_away_df], axis = 1)
learning_df.drop(columns = ['Div'], inplace = True)

**2.2.2 Date Transformation**

In [ ]:
learning_df['Year'] = pd.DatetimeIndex(learning_df.Date).year
learning_df['DayofYear'] = pd.DatetimeIndex(learning_df.Date).dayofyear
learning_df.drop(columns = ['Date'], inplace = True)

**2.2.3 Full Time Result Encoding**

In [ ]:
target_encoder = LabelEncoder()
learning_df['Result'] = target_encoder.fit_transform(learning_df.FTR) 
learning_df.drop(columns = ['FTR'], inplace = True)

**2.2.4 Win/Loss Streak Feature Creation** <br>
Important note about this feature: the win/loss streak is the teams *home* and *away* win streak, *not* its ***consecutive*** win/loss streak.

In [ ]:
# https://stackoverflow.com/questions/52976336/compute-winning-streak-with-pandas
# https://joshdevlin.com/blog/calculate-streaks-in-pandas/

In [ ]:
def compute_winstreak(df):
    
    years = df.Year.unique()
    df_lst = []    
    for year in years:
        
        year_df = df[df.Year == year]
        year_df['HomeWin'] = year_df.Result.replace([0, 1, 2], [0, 0, 1])
        year_df['AwayWin'] = year_df.Result.replace([0, 1, 2], [1, 0, 0])
        year_df['HomeWinStreak'] = None
        year_df['AwayWinStreak'] = None
        
        hometeams = year_df.HomeTeam.unique()
        awayteams = year_df.AwayTeam.unique()
        
        for team in hometeams:
            team_df = year_df[(year_df.HomeTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))

            team_grouper = (team_df.HomeWin != team_df.HomeWin.shift()).cumsum()
            team_df['HomeWinStreak'] = team_df[['HomeWin']].groupby(team_grouper).cumsum()
            team_df.loc[team_df.HomeWinStreak >0, 'HomeWinStreak'] -= 1
            year_df.loc[team_df.index, 'HomeWinStreak'] = team_df.HomeWinStreak
            
        for team in awayteams:
            team_df = year_df[(year_df.AwayTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))

            team_grouper = (team_df.AwayWin != team_df.AwayWin.shift()).cumsum()
            team_df['AwayWinStreak'] = team_df[['AwayWin']].groupby(team_grouper).cumsum()
            team_df.loc[team_df.AwayWinStreak >0, 'AwayWinStreak'] -= 1
            year_df.loc[team_df.index, 'AwayWinStreak'] = team_df.AwayWinStreak
            
        df_lst.append(year_df)
        
    return pd.concat(df_lst, axis = 0).drop(columns = ['HomeWin', 'AwayWin'])

In [ ]:
learning_df = compute_winstreak(learning_df)
learning_df.drop(columns = ['HomeTeam', 'AwayTeam'], inplace = True)

**2.2.5 Last Match Result** <br>
Indicate the result from the last match played between both teams

In [ ]:
## TODO ##

**2.2.6 Team Wins to Date**

In [ ]:
## TODO ##

**2.2.7 Website Odds** <br>
The `betting odds` recorded by various betting websites offer insight into sentiment surrounding the outcome of a particular game.

In [ ]:
## TODO ##

**2.2.8 Peek @ Learning DataFrame**

In [ ]:
learning_df

## 3. Preliminary Regression

* Establish a baseline Linear Regression model fit over the entire learning dataframe without special regard to *division* and *team*. 
* Train model over 18 seasons, and predict for the remaining 3 seasons (approximate 80-20 split)

In [ ]:
from sklearn.metrics import accuracy_score

**3.1 Train and Test Split**

In [ ]:
split = 0.80
no_seasons = 22

print('No. seasons to train over: ' + str(round(split*no_seasons)))

In [ ]:
X, y = learning_df.loc[:, learning_df.columns != 'Result'], learning_df[['Result']]

In [ ]:
X

In [ ]:
xTr, xTe = X[X.Year <= 2018], X[X.Year > 2018]
yTr, yTe = y.loc[xTr.index, :], y.loc[xTe.index, :]

**3.2 Normalization** <br>
Following our various feature transformations and development, we arrived to a sparse dataframe with the exception of a few features(*Year, DayofYear*). It will be important to *normalize* these features as they are in gross magnitudes compared to the remaining features. During model training, having dominating features (in scale relative to others) can be dangerous as the weight updates may mistakengly favor these larger-scale features because it will have the largest influence on the target output.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
xTr.loc[:, ['Year', 'DayofYear']] = minmax_scaler.fit_transform(xTr.loc[:, ['Year', 'DayofYear']])
xTe.loc[:, ['Year', 'DayofYear']] = minmax_scaler.transform(xTe.loc[:, ['Year', 'DayofYear']])

In [ ]:
xTr

**3.3 HomeWins Baseline Model**

In [ ]:
baseline_preds = np.full((4952, 1), 2) #predicts home wins all the time
accuracy_score(yTe.Result.values, baseline_preds.ravel())

In [ ]:
accuracy_score(yTr.Result.values, np.full((32447, 1), 2))

**3.4 Multinomial Logistic Regression**

**3.4.1 Full Model Fit**

In [ ]:
from sklearn.linear_model import LogisticRegression
linear_model = LogisticRegression(max_iter = 10000).fit(xTr, yTr.values.ravel())

In [ ]:
lr_preds = linear_model.predict(xTe)
accuracy_score(yTe.Result.values, lr_preds)

In [ ]:
accuracy_score(yTr.Result.values, linear_model.predict(xTr))

**3.4.2 Team Fit Model**

In [ ]:
X_barcelona = X[X['HomeTeam 18'] == 1].loc[:, 'AwayTeam 0':]
y_barcelona = y.loc[X_barcelona.index, :]

In [ ]:
bxTr, bxTe = X_barcelona[X_barcelona.Year <= 2018], X_barcelona[X_barcelona.Year > 2018]
byTr, byTe = y_barcelona.loc[bxTr.index, :], y_barcelona.loc[bxTe.index, :]

In [ ]:
bminmax_scaler = MinMaxScaler()
bxTr.loc[:, ['Year', 'DayofYear']] = minmax_scaler.fit_transform(bxTr.loc[:, ['Year', 'DayofYear']])
bxTe.loc[:, ['Year', 'DayofYear']] = minmax_scaler.transform(bxTe.loc[:, ['Year', 'DayofYear']])

In [ ]:
barcelona_model = LogisticRegression(max_iter = 10000).fit(bxTr, byTr.values.ravel())

In [ ]:
barcelona_preds = barcelona_model.predict(bxTe)
accuracy_score(byTe.Result.values, barcelona_preds)

In [ ]:
fullModel_preds = linear_model.predict(xTe[xTe['HomeTeam 18'] == 1])
accuracy_score(byTe.Result.values, fullModel_preds)

**3.5 Ridge Classifier**

In [ ]:
from sklearn.linear_model import RidgeClassifier
ridge_model = RidgeClassifier().fit(xTr, yTr.values.ravel())

In [ ]:
ridge_preds = ridge_model.predict(xTe)
accuracy_score(yTe.Result.values, ridge_preds)

In [ ]:
yTe.shape