In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np

## 0. DataFrame

In [2]:
football_df = pd.read_csv('data/all_data_with_elo.csv', low_memory = False)
football_df

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,WHD,WHA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO
0,0,D1,2003/8/1,Bayern Munich,Ein Frankfurt,3.0,1.0,H,17.0,6.0,...,4.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN,1859.379272,1593.249268
1,1,F1,2003/8/1,Lille,Lyon,1.0,0.0,H,NaN,NaN,...,3.00,2.20,NaN,NaN,NaN,NaN,NaN,NaN,1612.968018,1726.539795
2,2,F1,2003/8/2,Auxerre,Nice,1.0,2.0,A,NaN,NaN,...,3.10,5.00,-0.75,2.050,1.850,NaN,NaN,NaN,1702.604858,1611.196045
3,3,F1,2003/8/2,Guingamp,Marseille,0.0,1.0,A,NaN,NaN,...,3.10,2.40,0.00,1.925,1.975,NaN,NaN,NaN,1685.016113,1665.625732
4,4,D1,2003/8/2,Hamburg,Hannover,0.0,3.0,A,10.0,16.0,...,3.50,5.00,-0.75,1.800,2.100,NaN,NaN,NaN,1718.566284,1649.805298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37776,37776,F1,2024/10/6,Reims,Montpellier,4.0,2.0,H,18.0,10.0,...,3.80,4.00,-0.50,1.780,2.030,-0.75,1.83,2.10,1633.626221,1645.806641
37777,37777,SP1,2024/10/6,Sevilla,Betis,1.0,0.0,H,14.0,11.0,...,3.25,2.88,0.00,1.700,2.100,0.00,1.94,1.99,1676.242676,1709.259521
37778,37778,SP1,2024/10/6,Sociedad,Ath Madrid,1.0,1.0,D,16.0,4.0,...,3.20,2.30,0.25,1.890,2.010,0.00,1.98,1.95,1766.551880,1828.522095
37779,37779,F1,2024/10/6,Strasbourg,Lens,2.0,2.0,D,8.0,12.0,...,3.40,2.40,0.25,1.810,2.090,0.00,1.95,1.98,1608.732544,1719.138184
37780,37780,D1,2024/10/6,Stuttgart,Hoffenheim,1.0,1.0,D,18.0,7.0,...,6.00,8.50,-1.75,2.000,1.900,-1.50,1.87,2.06,1808.211304,1683.031494

## 1. Descriptive Statistics

**1.1 DataFrame Shape**

In [3]:
# no. rows and no. cols
football_df.shape

(37781, 29)

In [4]:
# feature names
print(football_df.columns.tolist())

['Unnamed: 0', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'B365H', 'B365D', 'B365A', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'AHh', 'B365AHH', 'B365AHA', 'AHCh', 'B365CAHH', 'B365CAHA', 'HomeTeamELO', 'AwayTeamELO']

**1.2 NaN Values**

In [5]:
football_df.isnull().sum()

Unnamed: 0         0
Div                0
Date               0
HomeTeam           0
AwayTeam           0
FTHG               0
FTAG               0
FTR                0
HS              1762
AS              1762
HST             2568
AST             2568
B365H             49
B365D             49
B365A             49
IWH             1324
IWD             1324
IWA             1324
WHH              573
WHD              573
WHA              573
AHh              262
B365AHH          276
B365AHA          276
AHCh           28479
B365CAHH       28481
B365CAHA       28481
HomeTeamELO      125
AwayTeamELO      126
dtype: int64

In [6]:
# total elements in 
football_df.size

1095649

In [7]:
# total number of NaN
football_df.size - football_df.count().sum()

101004

In [8]:
# total number of NaN rows
football_df.isnull().any(axis = 1).sum()

29734

In [9]:
# total number of NaN columns
football_df.isnull().any(axis = 0).sum()

21

## 2. Data Wrangling and Feature Transformation/Development

### 2.1 NaN Handling

`TODO`: drop NaN values along columns: {Date, Home Team, Away Team, FTR} <br>
`TODO`: identify betting odds w/ most available data

In [10]:
# 当前方法仅提取这几个字段 分区 日期 主队 客队 full-time-result 三家机构的胜平负 主队ELO评分 客队ELO评分
# nan_mask = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTR', 'B365H', 'B365D', 'B365A', 
#             'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'AHh', 'B365AHH', 'B365AHA', 'HomeTeamELO', 'AwayTeamELO']
nan_mask = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'B365H', 'B365D', 'B365A', 
            'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'AHh', 'B365AHH', 'B365AHA', 'HomeTeamELO', 'AwayTeamELO']

In [11]:
nan_football_df = football_df.dropna(subset = nan_mask)
nan_football_df

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,WHD,WHA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO
2,2,F1,2003/8/2,Auxerre,Nice,1.0,2.0,A,NaN,NaN,...,3.1,5.00,-0.75,2.050,1.850,NaN,NaN,NaN,1702.604858,1611.196045
3,3,F1,2003/8/2,Guingamp,Marseille,0.0,1.0,A,NaN,NaN,...,3.1,2.40,0.00,1.925,1.975,NaN,NaN,NaN,1685.016113,1665.625732
4,4,D1,2003/8/2,Hamburg,Hannover,0.0,3.0,A,10.0,16.0,...,3.5,5.00,-0.75,1.800,2.100,NaN,NaN,NaN,1718.566284,1649.805298
5,5,D1,2003/8/2,Hertha,Werder Bremen,0.0,3.0,A,23.0,19.0,...,3.4,4.00,-0.75,2.025,1.875,NaN,NaN,NaN,1719.916748,1692.120972
7,7,F1,2003/8/2,Lens,Le Mans,0.0,0.0,D,NaN,NaN,...,3.3,4.50,-0.75,1.900,2.000,NaN,NaN,NaN,1697.354004,1539.958130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36541,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,3.2,3.40,-0.25,1.940,1.990,-0.25,1.89,2.04,1563.726196,1628.365479
36542,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,6.0,13.00,-1.75,1.990,1.940,-1.75,1.98,1.95,1967.505371,1645.844849
36543,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,4.2,1.53,1.00,1.920,2.010,1.25,1.83,2.10,1629.086792,1858.904297
36544,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,3.9,4.60,-0.75,1.950,1.980,-0.75,1.98,1.95,1649.258545,1554.821045
36545,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,3.4,2.25,0.25,1.840,2.090,0.25,1.79,2.15,1693.817749,1761.064209

In [12]:
nan_football_df['asia_final_result'] = nan_football_df['FTHG'] - nan_football_df['FTAG'] + nan_football_df['AHh']
nan_football_df

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,WHA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO,asia_final_result
2,2,F1,2003/8/2,Auxerre,Nice,1.0,2.0,A,NaN,NaN,...,5.00,-0.75,2.050,1.850,NaN,NaN,NaN,1702.604858,1611.196045,-1.75
3,3,F1,2003/8/2,Guingamp,Marseille,0.0,1.0,A,NaN,NaN,...,2.40,0.00,1.925,1.975,NaN,NaN,NaN,1685.016113,1665.625732,-1.00
4,4,D1,2003/8/2,Hamburg,Hannover,0.0,3.0,A,10.0,16.0,...,5.00,-0.75,1.800,2.100,NaN,NaN,NaN,1718.566284,1649.805298,-3.75
5,5,D1,2003/8/2,Hertha,Werder Bremen,0.0,3.0,A,23.0,19.0,...,4.00,-0.75,2.025,1.875,NaN,NaN,NaN,1719.916748,1692.120972,-3.75
7,7,F1,2003/8/2,Lens,Le Mans,0.0,0.0,D,NaN,NaN,...,4.50,-0.75,1.900,2.000,NaN,NaN,NaN,1697.354004,1539.958130,-0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36541,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,3.40,-0.25,1.940,1.990,-0.25,1.89,2.04,1563.726196,1628.365479,1.75
36542,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,13.00,-1.75,1.990,1.940,-1.75,1.98,1.95,1967.505371,1645.844849,-0.75
36543,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,1.53,1.00,1.920,2.010,1.25,1.83,2.10,1629.086792,1858.904297,0.00
36544,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,4.60,-0.75,1.950,1.980,-0.75,1.98,1.95,1649.258545,1554.821045,0.25
36545,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,2.25,0.25,1.840,2.090,0.25,1.79,2.15,1693.817749,1761.064209,-1.75

In [13]:
nan_football_df_noNone = nan_football_df.dropna()
nan_football_df_noNone

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,WHA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO,asia_final_result
28479,28479,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,H,15.0,12.0,...,21.00,-2.25,1.96,1.94,-2.25,1.91,1.99,2050.401855,1634.853149,0.75
28480,28480,F1,2019/8/9,Monaco,Lyon,0.0,3.0,A,7.0,13.0,...,2.40,0.00,2.07,1.72,0.25,2.04,1.86,1568.403687,1732.636597,-3.00
28481,28481,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,H,14.0,8.0,...,3.20,-0.25,2.02,1.88,-0.25,1.75,2.05,1560.621948,1558.477295,1.75
28482,28482,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,D,13.0,8.0,...,3.80,-0.50,2.01,1.89,-0.50,1.95,1.95,1695.075562,1623.745361,-0.50
28483,28483,F1,2019/8/10,Brest,Toulouse,1.0,1.0,D,16.0,13.0,...,3.10,-0.25,2.05,1.85,-0.50,2.10,1.80,1512.408203,1496.643433,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36541,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,3.40,-0.25,1.94,1.99,-0.25,1.89,2.04,1563.726196,1628.365479,1.75
36542,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,13.00,-1.75,1.99,1.94,-1.75,1.98,1.95,1967.505371,1645.844849,-0.75
36543,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,1.53,1.00,1.92,2.01,1.25,1.83,2.10,1629.086792,1858.904297,0.00
36544,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,4.60,-0.75,1.95,1.98,-0.75,1.98,1.95,1649.258545,1554.821045,0.25
36545,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,2.25,0.25,1.84,2.09,0.25,1.79,2.15,1693.817749,1761.064209,-1.75

In [14]:
nan_football_df_noNone.reset_index(inplace=True, drop=True)
nan_football_df_noNone

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,WHA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO,asia_final_result
0,28479,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,H,15.0,12.0,...,21.00,-2.25,1.96,1.94,-2.25,1.91,1.99,2050.401855,1634.853149,0.75
1,28480,F1,2019/8/9,Monaco,Lyon,0.0,3.0,A,7.0,13.0,...,2.40,0.00,2.07,1.72,0.25,2.04,1.86,1568.403687,1732.636597,-3.00
2,28481,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,H,14.0,8.0,...,3.20,-0.25,2.02,1.88,-0.25,1.75,2.05,1560.621948,1558.477295,1.75
3,28482,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,D,13.0,8.0,...,3.80,-0.50,2.01,1.89,-0.50,1.95,1.95,1695.075562,1623.745361,-0.50
4,28483,F1,2019/8/10,Brest,Toulouse,1.0,1.0,D,16.0,13.0,...,3.10,-0.25,2.05,1.85,-0.50,2.10,1.80,1512.408203,1496.643433,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,3.40,-0.25,1.94,1.99,-0.25,1.89,2.04,1563.726196,1628.365479,1.75
8043,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,13.00,-1.75,1.99,1.94,-1.75,1.98,1.95,1967.505371,1645.844849,-0.75
8044,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,1.53,1.00,1.92,2.01,1.25,1.83,2.10,1629.086792,1858.904297,0.00
8045,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,4.60,-0.75,1.95,1.98,-0.75,1.98,1.95,1649.258545,1554.821045,0.25
8046,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,2.25,0.25,1.84,2.09,0.25,1.79,2.15,1693.817749,1761.064209,-1.75

In [15]:
conditions = [
    nan_football_df_noNone['asia_final_result'] < -0.25,
    nan_football_df_noNone['asia_final_result'] == -0.25,
    nan_football_df_noNone['asia_final_result'] == 0,
    nan_football_df_noNone['asia_final_result'] == 0.25,
    nan_football_df_noNone['asia_final_result'] > 0.25,
]
easy_conditions = [
    nan_football_df_noNone['asia_final_result'] <= -0.25,
    nan_football_df_noNone['asia_final_result'] == 0,
    nan_football_df_noNone['asia_final_result'] >= 0.25,
]
labels = [-2, -1, 0, 1, 2]
easy_labels = [-1, 0, 1]

nan_football_df_noNone['label'] = np.select(conditions, labels)
nan_football_df_noNone['easy_label'] = np.select(easy_conditions, easy_labels)
nan_football_df_noNone

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO,asia_final_result,label,easy_label
0,28479,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,H,15.0,12.0,...,1.96,1.94,-2.25,1.91,1.99,2050.401855,1634.853149,0.75,2,1
1,28480,F1,2019/8/9,Monaco,Lyon,0.0,3.0,A,7.0,13.0,...,2.07,1.72,0.25,2.04,1.86,1568.403687,1732.636597,-3.00,-2,-1
2,28481,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,H,14.0,8.0,...,2.02,1.88,-0.25,1.75,2.05,1560.621948,1558.477295,1.75,2,1
3,28482,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,D,13.0,8.0,...,2.01,1.89,-0.50,1.95,1.95,1695.075562,1623.745361,-0.50,-2,-1
4,28483,F1,2019/8/10,Brest,Toulouse,1.0,1.0,D,16.0,13.0,...,2.05,1.85,-0.50,2.10,1.80,1512.408203,1496.643433,-0.25,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,1.94,1.99,-0.25,1.89,2.04,1563.726196,1628.365479,1.75,2,1
8043,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,1.99,1.94,-1.75,1.98,1.95,1967.505371,1645.844849,-0.75,-2,-1
8044,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,1.92,2.01,1.25,1.83,2.10,1629.086792,1858.904297,0.00,0,0
8045,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,1.95,1.98,-0.75,1.98,1.95,1649.258545,1554.821045,0.25,1,1
8046,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,1.84,2.09,0.25,1.79,2.15,1693.817749,1761.064209,-1.75,-2,-1

In [16]:
nan_football_df_noNone['label'].mean()

-0.012675531253883435

In [17]:
nan_football_df_noNone['easy_label'].mean()

-0.008450354169255624

In [18]:
# resize shape
football_df.shape[0] - nan_football_df_noNone.shape[0]

29734

### 2.2 Feature Encoding <br>
* $\phi(Date)$ $\Rightarrow$ one column for *year*, second column for *month*, third column for *day of year*
* One hot encode Division, Home and Away Teams
* Label encode Full Time Result (Win/Draw/Loss)

In [19]:
feats = nan_mask
feats.append('easy_label')

In [20]:
nan_football_df_noNone

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,...,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA,HomeTeamELO,AwayTeamELO,asia_final_result,label,easy_label
0,28479,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,H,15.0,12.0,...,1.96,1.94,-2.25,1.91,1.99,2050.401855,1634.853149,0.75,2,1
1,28480,F1,2019/8/9,Monaco,Lyon,0.0,3.0,A,7.0,13.0,...,2.07,1.72,0.25,2.04,1.86,1568.403687,1732.636597,-3.00,-2,-1
2,28481,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,H,14.0,8.0,...,2.02,1.88,-0.25,1.75,2.05,1560.621948,1558.477295,1.75,2,1
3,28482,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,D,13.0,8.0,...,2.01,1.89,-0.50,1.95,1.95,1695.075562,1623.745361,-0.50,-2,-1
4,28483,F1,2019/8/10,Brest,Toulouse,1.0,1.0,D,16.0,13.0,...,2.05,1.85,-0.50,2.10,1.80,1512.408203,1496.643433,-0.25,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,36541,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,H,15.0,15.0,...,1.94,1.99,-0.25,1.89,2.04,1563.726196,1628.365479,1.75,2,1
8043,36542,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,H,17.0,7.0,...,1.99,1.94,-1.75,1.98,1.95,1967.505371,1645.844849,-0.75,-2,-1
8044,36543,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,A,12.0,15.0,...,1.92,2.01,1.25,1.83,2.10,1629.086792,1858.904297,0.00,0,0
8045,36544,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,H,14.0,4.0,...,1.95,1.98,-0.75,1.98,1.95,1649.258545,1554.821045,0.25,1,1
8046,36545,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,A,11.0,15.0,...,1.84,2.09,0.25,1.79,2.15,1693.817749,1761.064209,-1.75,-2,-1

In [21]:
learning_df = nan_football_df_noNone.copy()[feats]
learning_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,IWH,...,IWA,WHH,WHD,WHA,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,easy_label
0,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,1.14,10.00,19.00,1.15,...,18.00,1.12,8.5,21.00,-2.25,1.96,1.94,2050.401855,1634.853149,1
1,F1,2019/8/9,Monaco,Lyon,0.0,3.0,3.00,3.30,2.37,2.90,...,2.45,2.80,3.5,2.40,0.00,2.07,1.72,1568.403687,1732.636597,-1
2,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,2.37,3.10,3.20,2.35,...,3.30,2.35,3.1,3.20,-0.25,2.02,1.88,1560.621948,1558.477295,1
3,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,1.95,3.60,3.60,1.97,...,3.80,2.00,3.5,3.80,-0.50,2.01,1.89,1695.075562,1623.745361,-1
4,F1,2019/8/10,Brest,Toulouse,1.0,1.0,2.37,3.20,3.10,2.40,...,3.10,2.30,3.3,3.10,-0.25,2.05,1.85,1512.408203,1496.643433,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,2.25,3.10,3.50,2.25,...,3.35,2.15,3.2,3.40,-0.25,1.94,1.99,1563.726196,1628.365479,1
8043,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,1.20,6.50,15.00,1.22,...,13.00,1.20,6.0,13.00,-1.75,1.99,1.94,1967.505371,1645.844849,-1
8044,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,5.50,4.33,1.57,5.50,...,1.57,5.50,4.2,1.53,1.00,1.92,2.01,1629.086792,1858.904297,0
8045,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,1.70,4.00,4.75,1.70,...,4.80,1.65,3.9,4.60,-0.75,1.95,1.98,1649.258545,1554.821045,1
8046,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,3.00,3.30,2.38,3.05,...,2.35,3.00,3.4,2.25,0.25,1.84,2.09,1693.817749,1761.064209,-1

In [22]:
learning_df.reset_index(inplace=True, drop=True)
learning_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,IWH,...,IWA,WHH,WHD,WHA,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,easy_label
0,E0,2019/8/9,Liverpool,Norwich,4.0,1.0,1.14,10.00,19.00,1.15,...,18.00,1.12,8.5,21.00,-2.25,1.96,1.94,2050.401855,1634.853149,1
1,F1,2019/8/9,Monaco,Lyon,0.0,3.0,3.00,3.30,2.37,2.90,...,2.45,2.80,3.5,2.40,0.00,2.07,1.72,1568.403687,1732.636597,-1
2,F1,2019/8/10,Angers,Bordeaux,3.0,1.0,2.37,3.10,3.20,2.35,...,3.30,2.35,3.1,3.20,-0.25,2.02,1.88,1560.621948,1558.477295,1
3,E0,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,1.95,3.60,3.60,1.97,...,3.80,2.00,3.5,3.80,-0.50,2.01,1.89,1695.075562,1623.745361,-1
4,F1,2019/8/10,Brest,Toulouse,1.0,1.0,2.37,3.20,3.10,2.40,...,3.10,2.30,3.3,3.10,-0.25,2.05,1.85,1512.408203,1496.643433,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,SP1,2024/1/3,Granada,Cadiz,2.0,0.0,2.25,3.10,3.50,2.25,...,3.35,2.15,3.2,3.40,-0.25,1.94,1.99,1563.726196,1628.365479,1
8043,SP1,2024/1/3,Real Madrid,Mallorca,1.0,0.0,1.20,6.50,15.00,1.22,...,13.00,1.20,6.0,13.00,-1.75,1.99,1.94,1967.505371,1645.844849,-1
8044,SP1,2024/1/4,Las Palmas,Barcelona,1.0,2.0,5.50,4.33,1.57,5.50,...,1.57,5.50,4.2,1.53,1.00,1.92,2.01,1629.086792,1858.904297,0
8045,SP1,2024/1/4,Osasuna,Almeria,1.0,0.0,1.70,4.00,4.75,1.70,...,4.80,1.65,3.9,4.60,-0.75,1.95,1.98,1649.258545,1554.821045,1
8046,SP1,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,3.00,3.30,2.38,3.05,...,2.35,3.00,3.4,2.25,0.25,1.84,2.09,1693.817749,1761.064209,-1

**2.2.1 Division and Home/Away Team Encoding**

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

div_encoder = OneHotEncoder()
home_encoder = OneHotEncoder()
away_encoder = OneHotEncoder()

In [24]:
onehot_div = div_encoder.fit_transform(learning_df.Div.values.reshape(-1,1)).toarray().astype(int)
onehot_div_df = pd.DataFrame(onehot_div, columns = ["Div "+str(int(i)) for i in range(onehot_div.shape[1])])

onehot_home = home_encoder.fit_transform(learning_df.HomeTeam.values.reshape(-1,1)).toarray().astype(int)
onehot_home_df = pd.DataFrame(onehot_home, columns = ['HomeTeam ' + str(int(i)) for i in np.arange(onehot_home.shape[1])])

onehot_away = away_encoder.fit_transform(learning_df.AwayTeam.values.reshape(-1,1)).toarray().astype(int)
onehot_away_df = pd.DataFrame(onehot_away, columns = ['AwayTeam ' + str(int(i)) for i in np.arange(onehot_away.shape[1])])

In [25]:
learning_df = pd.concat([learning_df, onehot_div_df, onehot_home_df, onehot_away_df], axis = 1)
learning_df.drop(columns = ['Div'], inplace = True)

In [26]:
learning_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,IWH,IWD,...,AwayTeam 123,AwayTeam 124,AwayTeam 125,AwayTeam 126,AwayTeam 127,AwayTeam 128,AwayTeam 129,AwayTeam 130,AwayTeam 131,AwayTeam 132
0,2019/8/9,Liverpool,Norwich,4.0,1.0,1.14,10.00,19.00,1.15,8.00,...,0,0,0,0,0,0,0,0,0,0
1,2019/8/9,Monaco,Lyon,0.0,3.0,3.00,3.30,2.37,2.90,3.35,...,0,0,0,0,0,0,0,0,0,0
2,2019/8/10,Angers,Bordeaux,3.0,1.0,2.37,3.10,3.20,2.35,3.10,...,0,0,0,0,0,0,0,0,0,0
3,2019/8/10,Bournemouth,Sheffield United,1.0,1.0,1.95,3.60,3.60,1.97,3.55,...,0,0,0,0,0,0,0,0,0,0
4,2019/8/10,Brest,Toulouse,1.0,1.0,2.37,3.20,3.10,2.40,3.20,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,2024/1/3,Granada,Cadiz,2.0,0.0,2.25,3.10,3.50,2.25,3.20,...,0,0,0,0,0,0,0,0,0,0
8043,2024/1/3,Real Madrid,Mallorca,1.0,0.0,1.20,6.50,15.00,1.22,6.50,...,0,0,0,0,0,0,0,0,0,0
8044,2024/1/4,Las Palmas,Barcelona,1.0,2.0,5.50,4.33,1.57,5.50,4.30,...,0,0,0,0,0,0,0,0,0,0
8045,2024/1/4,Osasuna,Almeria,1.0,0.0,1.70,4.00,4.75,1.70,3.90,...,0,0,0,0,0,0,0,0,0,0
8046,2024/1/4,Sevilla,Ath Bilbao,0.0,2.0,3.00,3.30,2.38,3.05,3.35,...,0,0,0,0,0,0,0,0,0,0

**2.2.2 Full Time Result Encoding**

In [27]:
target_encoder = LabelEncoder()
learning_df['Result'] = target_encoder.fit_transform(learning_df.easy_label)

**2.2.3 Date Encoding**

In [28]:
learning_df['Year'] = pd.DatetimeIndex(learning_df.Date).year

learning_df['Month'] = pd.DatetimeIndex(learning_df.Date).month
learning_df['Sin_Month'] = np.sin(2*np.pi*learning_df.Month/12)
learning_df['Cos_Month'] = np.cos(2*np.pi*learning_df.Month/12)

learning_df['DayofYear'] = pd.DatetimeIndex(learning_df.Date).dayofyear
learning_df['Sin_Day'] = np.sin(2*np.pi*learning_df.DayofYear/365)
learning_df['Cos_Day'] = np.cos(2*np.pi*learning_df.DayofYear/365)

learning_df.drop(columns = ['Date','Month'], inplace = True)
# learning_df.drop(columns = ['Date'], inplace = True)

In [29]:
learning_df

,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,IWH,IWD,IWA,...,AwayTeam 130,AwayTeam 131,AwayTeam 132,Result,Year,Sin_Month,Cos_Month,DayofYear,Sin_Day,Cos_Day
0,Liverpool,Norwich,4.0,1.0,1.14,10.00,19.00,1.15,8.00,18.00,...,0,0,0,2,2019,-0.866025,-0.500000,221,-0.615285,-0.788305
1,Monaco,Lyon,0.0,3.0,3.00,3.30,2.37,2.90,3.35,2.45,...,0,0,0,0,2019,-0.866025,-0.500000,221,-0.615285,-0.788305
2,Angers,Bordeaux,3.0,1.0,2.37,3.10,3.20,2.35,3.10,3.30,...,0,0,0,2,2019,-0.866025,-0.500000,222,-0.628763,-0.777597
3,Bournemouth,Sheffield United,1.0,1.0,1.95,3.60,3.60,1.97,3.55,3.80,...,0,0,0,0,2019,-0.866025,-0.500000,222,-0.628763,-0.777597
4,Brest,Toulouse,1.0,1.0,2.37,3.20,3.10,2.40,3.20,3.10,...,0,0,0,0,2019,-0.866025,-0.500000,222,-0.628763,-0.777597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,Granada,Cadiz,2.0,0.0,2.25,3.10,3.50,2.25,3.20,3.35,...,0,0,0,2,2024,0.500000,0.866025,3,0.051620,0.998667
8043,Real Madrid,Mallorca,1.0,0.0,1.20,6.50,15.00,1.22,6.50,13.00,...,0,0,0,0,2024,0.500000,0.866025,3,0.051620,0.998667
8044,Las Palmas,Barcelona,1.0,2.0,5.50,4.33,1.57,5.50,4.30,1.57,...,0,0,0,1,2024,0.500000,0.866025,4,0.068802,0.997630
8045,Osasuna,Almeria,1.0,0.0,1.70,4.00,4.75,1.70,3.90,4.80,...,0,0,0,2,2024,0.500000,0.866025,4,0.068802,0.997630
8046,Sevilla,Ath Bilbao,0.0,2.0,3.00,3.30,2.38,3.05,3.35,2.35,...,0,0,0,0,2024,0.500000,0.866025,4,0.068802,0.997630

In [30]:
# For Test

### 2.3 Feature Engineering <br>
* $\phi(x)$ feature transformation $\Rightarrow$ last match result, win/loss streak to date, wins to season date
* $\phi(x)$ feature engineering $\Rightarrow$ average the home, away, and draw odds

**2.3.1 Last Match Result** <br>
Indicate the result from the last match played between both teams

In [31]:
# 定义一个函数来计算两队之间上一场比赛的结果
def compute_last_matches(df):
    
    unique_matchups = list(set((list(zip(df.HomeTeam, df.AwayTeam)))))
    df['Last Match Result'] = np.nan
    for home, away in unique_matchups:
        matchup_df = df[(df.HomeTeam == home) & (df.AwayTeam == away)]
        # 使用 shift(1) 方法将 FTR（全场比赛结果）列中的数据向下移动一行，这样每行的 last_match_result 将对应于这两队之前的一场比赛的结果。fill_value='Na' 确保了数据移动后空出的位置填充为 'Na'。
        # last_match_result = matchup_df.FTR.shift(1, fill_value='Na')
        last_match_result = matchup_df.easy_label.shift(1, fill_value='Na')
        df.loc[matchup_df.index, 'Last Match Result'] = last_match_result
        
    lmr_encoder = LabelEncoder()
    df['Last Match Result'] = lmr_encoder.fit_transform(df['Last Match Result'])
    df.drop(columns = ['easy_label'], inplace = True)
    return df

In [32]:
def compute_last_n_matches(df, n=5):
    unique_matchups = list(set(zip(df.HomeTeam, df.AwayTeam)))
    df['Last 5 Match Results'] = np.nan  # 新增一列用于存储过去 5 场比赛的结果
    
    for home, away in unique_matchups:
        matchup_df = df[(df.HomeTeam == home) & (df.AwayTeam == away)]
        
        # 获取过去 n 场比赛的结果
        # last_n_results = [matchup_df.FTR.shift(i, fill_value='Na') for i in range(1, n+1)]
        last_n_results = [matchup_df.easy_label.shift(i, fill_value='Na') for i in range(1, n+1)]
        
        # 将计算得到的过去 n 场比赛的结果合并为一个字符串或列表，取决于需求
        # 这里使用字符串形式：'result1/result2/...'
        matchup_df['Last 5 Match Results'] = pd.DataFrame(last_n_results).T.apply(lambda x: '/'.join(x), axis=1)
        
        # 将计算得到的结果更新回原始 df 中
        df.loc[matchup_df.index, 'Last 5 Match Results'] = matchup_df['Last 5 Match Results']
    
    # 对 Last 5 Match Results 列进行标签编码
    lmr_encoder = LabelEncoder()
    df['Last 5 Match Results'] = lmr_encoder.fit_transform(df['Last 5 Match Results'])
    
    # 删除原始的 FTR 列
    df.drop(columns=['easy_label'], inplace=True)
    
    return df

In [33]:
# 定义一个函数来计算两队之间上一场比赛的结果
def compute_last_matches(df):
    
    unique_matchups = list(set((list(zip(df.HomeTeam, df.AwayTeam)))))
    df['Last Match Result'] = np.nan
    for home, away in unique_matchups:
        matchup_df = df[(df.HomeTeam == home) & (df.AwayTeam == away)]
        # 使用 shift(1) 方法将 FTR（全场比赛结果）列中的数据向下移动一行，这样每行的 last_match_result 将对应于这两队之前的一场比赛的结果。fill_value='Na' 确保了数据移动后空出的位置填充为 'Na'。
        # last_match_result = matchup_df.FTR.shift(1, fill_value='Na')
        last_match_result = matchup_df.easy_label.shift(1, fill_value=3)
        df.loc[matchup_df.index, 'Last Match Result'] = last_match_result
        
    lmr_encoder = LabelEncoder()
    df['Last Match Result'] = lmr_encoder.fit_transform(df['Last Match Result'])
    df.drop(columns = ['easy_label'], inplace = True)
    return df
learning_df = compute_last_matches(learning_df)
# learning_df.drop(columns = ['FTR'], inplace = True)

**2.3.2 Home and Away Win/Loss Streak** <br>
Important note about this feature: the win/loss streak is the teams *home* and *away* win streak, *not* its ***consecutive*** win/loss streak.

In [34]:
# https://stackoverflow.com/questions/52976336/compute-winning-streak-with-pandas
# https://joshdevlin.com/blog/calculate-streaks-in-pandas/

In [35]:
def compute_winstreak(df):
    
    years = df.Year.unique()
    df_lst = []    
    for year in years:
        
        year_df = df[df.Year == year]
        year_df['HomeWin'] = year_df.Result.replace([0, 1, 2], [0, 0, 1])
        year_df['AwayWin'] = year_df.Result.replace([0, 1, 2], [1, 0, 0])
        year_df['HomeWinStreak'] = None
        year_df['AwayWinStreak'] = None
        
        hometeams = year_df.HomeTeam.unique()
        awayteams = year_df.AwayTeam.unique()
        
        for team in hometeams:
            team_df = year_df[(year_df.HomeTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))

            team_grouper = (team_df.HomeWin != team_df.HomeWin.shift()).cumsum()
            team_df['HomeWinStreak'] = team_df[['HomeWin']].groupby(team_grouper).cumsum()
            team_df.loc[team_df.HomeWinStreak >0, 'HomeWinStreak'] -= 1
            year_df.loc[team_df.index, 'HomeWinStreak'] = team_df.HomeWinStreak
            
        for team in awayteams:
            team_df = year_df[(year_df.AwayTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))

            team_grouper = (team_df.AwayWin != team_df.AwayWin.shift()).cumsum()
            team_df['AwayWinStreak'] = team_df[['AwayWin']].groupby(team_grouper).cumsum()
            team_df.loc[team_df.AwayWinStreak >0, 'AwayWinStreak'] -= 1
            year_df.loc[team_df.index, 'AwayWinStreak'] = team_df.AwayWinStreak
            
        df_lst.append(year_df)
        
    return pd.concat(df_lst, axis = 0).drop(columns = ['HomeWin', 'AwayWin'])#,'DayofYear'])

In [36]:
learning_df = compute_winstreak(learning_df)

**2.3.4 Season Home/Away Wins to Date** <br>
Indicate the number of wins for a team as home and away to date within current season

In [37]:
toy = learning_df[(learning_df.Year == 2010) & (learning_df.HomeTeam == 'Barcelona')][['HomeTeam', 'AwayTeam', 'Result']]
toy['HomeWin'] = toy.Result.replace([0, 1, 2], [0, 0, 1])
toy['HomeWinsToDate'] = toy.HomeWin.cumsum()

In [38]:
def compute_winstodate(df):
    
    years = df.Year.unique()
    df_lst = []    
    for year in years:
        
        year_df = df[df.Year == year]
        year_df['HomeWin'] = year_df.Result.replace([0, 1, 2], [0, 0, 1])
        year_df['AwayWin'] = year_df.Result.replace([0, 1, 2], [1, 0, 0])
        year_df['HomeWinsToDate'] = None
        year_df['AwayWinsToDate'] = None
        
        hometeams = year_df.HomeTeam.unique()
        awayteams = year_df.AwayTeam.unique()
        
        for team in hometeams:
            team_df = year_df[(year_df.HomeTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))

            team_df['HomeWinsToDate'] = team_df.HomeWin.cumsum()
            year_df.loc[team_df.index, 'HomeWinsToDate'] = team_df.HomeWinsToDate
            
        for team in awayteams:
            team_df = year_df[(year_df.AwayTeam == team)]
            team_df = team_df.sort_values(['Year', 'DayofYear'], ascending = (True, True))
            
            team_df['AwayWinsToDate'] = team_df.AwayWin.cumsum()
            year_df.loc[team_df.index, 'AwayWinsToDate'] = team_df.AwayWinsToDate
            
        df_lst.append(year_df)
        
    return pd.concat(df_lst, axis = 0).drop(columns = ['HomeWin', 'AwayWin','DayofYear'])

In [39]:
learning_df = compute_winstodate(learning_df)
learning_df.drop(columns = ['HomeTeam', 'AwayTeam'], inplace = True)

In [40]:
# learning_df
learning_df

,FTHG,FTAG,B365H,B365D,B365A,IWH,IWD,IWA,WHH,WHD,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
0,4.0,1.0,1.14,10.00,19.00,1.15,8.00,18.00,1.12,8.5,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,1,0
1,0.0,3.0,3.00,3.30,2.37,2.90,3.35,2.45,2.80,3.5,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,0,1
2,3.0,1.0,2.37,3.10,3.20,2.35,3.10,3.30,2.35,3.1,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,1,0
3,1.0,1.0,1.95,3.60,3.60,1.97,3.55,3.80,2.00,3.5,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
4,1.0,1.0,2.37,3.20,3.10,2.40,3.20,3.10,2.30,3.3,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,2.0,0.0,2.25,3.10,3.50,2.25,3.20,3.35,2.15,3.2,...,2024,0.500000,0.866025,0.051620,0.998667,0,0,0,1,0
8043,1.0,0.0,1.20,6.50,15.00,1.22,6.50,13.00,1.20,6.0,...,2024,0.500000,0.866025,0.051620,0.998667,2,0,0,0,1
8044,1.0,2.0,5.50,4.33,1.57,5.50,4.30,1.57,5.50,4.2,...,2024,0.500000,0.866025,0.068802,0.997630,3,0,0,0,0
8045,1.0,0.0,1.70,4.00,4.75,1.70,3.90,4.80,1.65,3.9,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,1,0
8046,0.0,2.0,3.00,3.30,2.38,3.05,3.35,2.35,3.00,3.4,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,0,1

In [41]:
# 保存为pkl文件
learning_df.to_pickle('E:/Data/PKL/learning_df.pkl')

**2.3.5 Website Odds** <br>
The `betting odds` recorded by various betting websites offer insight into sentiment surrounding the outcome of a particular game.

In [42]:
# betting_feats = ['B365H', 'B365D', 'B365A', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', "AHh", "B365AHH", "B365AHA"]
betting_feats = ['B365H', 'B365D', 'B365A']
betting_feats

['B365H', 'B365D', 'B365A']

In [43]:
def compute_meanodds(df, betting_feats):
    """
    """
    home_odds = []
    away_odds = []
    draw_odds = []
    for odd in betting_feats:
        odd_type = odd[-1]
        if odd_type == 'H':
            home_odds.append(odd)
        elif odd_type == 'A':
            away_odds.append(odd)
        else:
            draw_odds.append(odd)
    avg_home_odds = df[home_odds].mean(axis=1)
    avg_away_odds = df[away_odds].mean(axis=1)
    avg_draw_odds = df[draw_odds].mean(axis=1)
    
    ordered_cols = ['HomeOdds', 'AwayOdds', 'DrawOdds'] + df.columns.tolist()
    
    df['HomeOdds'] = avg_home_odds
    df['AwayOdds'] = avg_away_odds
    df['DrawOdds'] = avg_draw_odds
    
    return df[ordered_cols]

In [44]:
learning_df = compute_meanodds(learning_df, betting_feats)

### 2.4 Peek @ Learning DataFrame

In [45]:
learning_df

,HomeOdds,AwayOdds,DrawOdds,FTHG,FTAG,B365H,B365D,B365A,IWH,IWD,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
0,1.14,19.00,10.00,4.0,1.0,1.14,10.00,19.00,1.15,8.00,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,1,0
1,3.00,2.37,3.30,0.0,3.0,3.00,3.30,2.37,2.90,3.35,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,0,1
2,2.37,3.20,3.10,3.0,1.0,2.37,3.10,3.20,2.35,3.10,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,1,0
3,1.95,3.60,3.60,1.0,1.0,1.95,3.60,3.60,1.97,3.55,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
4,2.37,3.10,3.20,1.0,1.0,2.37,3.20,3.10,2.40,3.20,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,2.25,3.50,3.10,2.0,0.0,2.25,3.10,3.50,2.25,3.20,...,2024,0.500000,0.866025,0.051620,0.998667,0,0,0,1,0
8043,1.20,15.00,6.50,1.0,0.0,1.20,6.50,15.00,1.22,6.50,...,2024,0.500000,0.866025,0.051620,0.998667,2,0,0,0,1
8044,5.50,1.57,4.33,1.0,2.0,5.50,4.33,1.57,5.50,4.30,...,2024,0.500000,0.866025,0.068802,0.997630,3,0,0,0,0
8045,1.70,4.75,4.00,1.0,0.0,1.70,4.00,4.75,1.70,3.90,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,1,0
8046,3.00,2.38,3.30,0.0,2.0,3.00,3.30,2.38,3.05,3.35,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,0,1

In [46]:
learning_df.drop(columns = ['IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'HomeOdds', 'AwayOdds', 'DrawOdds', 'FTHG', 'FTAG'], inplace = True)

# 3. Model Development

* Establish a baseline Logistic Regression model fit over the entire learning dataframe without special regard to *division* and *team*. 
* Train model over 16 seasons, and predict for the remaining 3 seasons (approximate 80-20 split)

### 3.1 Train and Test Split

In [47]:
split = 0.80
no_seasons = 20

print('No. seasons to train over: ' + str(round(split*no_seasons)))

No. seasons to train over: 16

In [48]:
X, y = learning_df.loc[:, learning_df.columns != 'Result'], learning_df[['Result']]

In [49]:
# full_feat = ['HomeWinStreak','AwayWinStreak','HomeWinsToDate', 'AwayWinsToDate', 'Last Match Result',
#              'HomeTeamELO', 'AwayTeamELO', 'HomeOdds', 'AwayOdds', 'DrawOdds'] + betting_feats

# exclude_feats = ['HomeWinsToDate', 'AwayWinsToDate', 'Last Match Result']

In [50]:
# X = X[X.columns[~X.columns.isin(exclude_feats)]]
# X

In [51]:
X

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
0,1.14,10.00,19.00,-2.25,1.96,1.94,2050.401855,1634.853149,0,1,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,1,0
1,3.00,3.30,2.37,0.00,2.07,1.72,1568.403687,1732.636597,0,0,...,2019,-0.866025,-0.500000,-0.615285,-0.788305,3,0,0,0,1
2,2.37,3.10,3.20,-0.25,2.02,1.88,1560.621948,1558.477295,0,0,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,1,0
3,1.95,3.60,3.60,-0.50,2.01,1.89,1695.075562,1623.745361,0,1,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
4,2.37,3.20,3.10,-0.25,2.05,1.85,1512.408203,1496.643433,0,0,...,2019,-0.866025,-0.500000,-0.628763,-0.777597,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,2.25,3.10,3.50,-0.25,1.94,1.99,1563.726196,1628.365479,0,0,...,2024,0.500000,0.866025,0.051620,0.998667,0,0,0,1,0
8043,1.20,6.50,15.00,-1.75,1.99,1.94,1967.505371,1645.844849,0,0,...,2024,0.500000,0.866025,0.051620,0.998667,2,0,0,0,1
8044,5.50,4.33,1.57,1.00,1.92,2.01,1629.086792,1858.904297,0,0,...,2024,0.500000,0.866025,0.068802,0.997630,3,0,0,0,0
8045,1.70,4.00,4.75,-0.75,1.95,1.98,1649.258545,1554.821045,0,0,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,1,0
8046,3.00,3.30,2.38,0.25,1.84,2.09,1693.817749,1761.064209,0,0,...,2024,0.500000,0.866025,0.068802,0.997630,2,0,0,0,1

In [52]:
y

      Result
0          2
1          0
2          2
3          0
4          0
...      ...
8042       2
8043       0
8044       1
8045       2
8046       0

[8047 rows x 1 columns]

In [108]:
split_year = 2023

In [109]:
# 切分训练集和测试集
xTr, xTe = X[X.Year <= split_year], X[X.Year > split_year]
yTr, yTe = y.loc[xTr.index, :], y.loc[xTe.index, :]

### 3.2 Normalization <br>
Following our various feature transformations and development, we arrived to a sparse dataframe with the exception of a few features(*Year, DayofYear*). It will be important to *normalize* these features as they are in gross magnitudes compared to the remaining features. During model training, having dominating features (in scale relative to others) can be dangerous as the weight updates may mistakengly favor these larger-scale features because it will have the largest influence on the target output.

In [110]:
# minmax_scaler.fit_transform()：这个方法首先拟合数据，即计算数据的最小值和最大值，这些值用于后续的缩放。然后，它将这些参数用于转换数据，将原始数据缩放到0和1之间。
# minmax_scaler.transform()：这个方法使用在训练数据上计算得到的最小值和最大值来转换测试数据。这确保了训练数据和测试数据使用相同的缩放标准。
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
xTr.loc[:, ['Year']] = minmax_scaler.fit_transform(xTr.loc[:, ['Year']])
xTe.loc[:, ['Year']] = minmax_scaler.transform(xTe.loc[:, ['Year']])

In [111]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
# to_scale = ['HomeWinStreak','AwayWinStreak','HomeWinsToDate', 'AwayWinsToDate', 'HomeTeamELO', 'AwayTeamELO', 'HomeOdds', 'AwayOdds', 'DrawOdds'] + betting_feats
to_scale = ['HomeTeamELO', 'AwayTeamELO'] + betting_feats

xTr.loc[:, to_scale] = std_scaler.fit_transform(xTr.loc[:, to_scale])
xTe.loc[:, to_scale] = std_scaler.transform(xTe.loc[:, to_scale])

In [112]:
xTr

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
0,-0.897150,4.971314,4.420250,-2.25,1.96,1.94,2.949087,-0.463331,0,1,...,0.0,-8.660254e-01,-0.5,-6.152846e-01,-0.788305,3,0,0,1,0
1,0.113310,-0.626709,-0.574913,0.00,2.07,1.72,-1.012535,0.339286,0,0,...,0.0,-8.660254e-01,-0.5,-6.152846e-01,-0.788305,3,0,0,0,1
2,-0.228942,-0.793814,-0.325605,-0.25,2.02,1.88,-1.076494,-1.090232,0,0,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,1,0
3,-0.457111,-0.376051,-0.205457,-0.50,2.01,1.89,0.028602,-0.554505,0,1,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,0,1
4,-0.228942,-0.710261,-0.355643,-0.25,2.05,1.85,-1.472771,-1.597771,0,0,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8030,0.384939,-0.793814,-0.610958,0.25,1.98,1.95,-0.494205,0.493468,0,0,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,0,0,0,6,11
8031,-0.478841,-0.543156,-0.025235,-0.50,1.95,1.98,-0.796193,-1.044273,0,0,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,2,0,0,10,10
8032,-0.087695,-0.626709,-0.475791,0.00,1.91,1.99,0.289395,0.342852,0,1,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,1,1,0,14,9
8033,1.335640,0.375922,-0.821217,1.00,1.91,1.99,0.112570,1.898553,0,1,...,1.0,-2.449294e-16,1.0,6.432491e-16,1.000000,0,0,0,11,8
8034,-0.565762,0.125264,-0.085309,-0.75,2.00,1.90,1.155261,0.214204,0,1,...,1.0,-2.449294e-16,1.0,6.432491e-16,1.000000,0,2,0,12,12

In [113]:
xTe

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
8035,-0.728740,0.375922,0.815803,-1.25,1.99,1.91,2.032941,0.914889,0,1,...,1.25,0.5,0.866025,0.017213,0.999852,0,0,0,1,0
8036,-0.223510,-0.877366,-0.295568,-0.25,2.06,1.87,0.017564,-0.430240,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,0,1
8037,-0.647251,-0.250722,0.665617,-1.00,2.08,1.85,1.126850,-0.835428,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,0,1
8038,-0.402785,-0.459604,-0.205457,-0.50,2.05,1.88,-0.093836,0.206109,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,1,0
8039,-0.185482,-0.250722,-0.460772,0.00,1.85,2.05,0.964589,1.061371,0,1,...,1.25,0.5,0.866025,0.034422,0.999407,0,0,0,0,0
8040,-0.212645,-0.626709,-0.385680,-0.25,2.11,1.82,-0.531461,0.388952,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,2,0,0,1,0
8041,-0.131156,-0.376051,-0.496817,0.00,1.92,2.01,0.755387,1.467545,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,0,0,0,1,0
8042,-0.294133,-0.793814,-0.235494,-0.25,1.94,1.99,-1.050980,-0.516583,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,0,0,0,1,0
8043,-0.864554,2.046974,3.218767,-1.75,1.99,1.94,2.267747,-0.373110,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,2,0,0,0,1
8044,1.471455,0.233883,-0.815210,1.00,1.92,2.01,-0.513770,1.375705,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,3,0,0,0,0
8045,-0.592925,-0.041841,0.139969,-0.75,1.95,1.98,-0.347975,-1.120243,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,2,0,0,1,0
8046,0.113310,-0.626709,-0.571909,0.25,1.84,2.09,0.018264,0.572623,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,2,0,0,0,1

### 3.3 HomeWins Baseline Model

In [114]:
from sklearn.metrics import accuracy_score

In [115]:
xTr.shape

(8035, 289)

In [116]:
xTe.shape

(12, 289)

In [117]:
# training score
baseline_Tr = np.full((xTr.shape[0], 1), 2) 
accuracy_score(yTr.Result.values, baseline_Tr.ravel())

0.4616054760423149

In [118]:
# testing score
baseline_preds_Te = np.full((xTe.shape[0]  , 1), 2) #predicts home wins all the time
accuracy_score(yTe.Result.values, baseline_preds_Te.ravel())

0.5

### 3.4 Multinomial Logistic Regression

**3.4.1** $l2$ Regularized

In [119]:
from sklearn.linear_model import LogisticRegression
l2_lr = LogisticRegression(max_iter = 10000, n_jobs=-1).fit(xTr, yTr.values.ravel())

In [120]:
# training score
accuracy_score(yTr.Result.values, l2_lr.predict(xTr))

0.7512134411947728

In [121]:
# testing score
lr_preds = l2_lr.predict(xTe)
accuracy_score(yTe.Result.values, lr_preds)

0.6666666666666666

**3.4.1** $l2$ Penalty Tuning

In [122]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

logistic_params = {'C':[0.001,0.01,0.10]}

# logistic_randsearch = RandomizedSearchCV(estimator=LogisticRegression(max_iter=10000),
#                                          param_distributions=logistic_params,
logistic_randsearch = GridSearchCV(estimator=LogisticRegression(max_iter=10000),
                                         param_grid=logistic_params,
                                         scoring='accuracy',
                                         verbose=1,
                                         cv=5,
                                         n_jobs=-1)

logistic_rand_results = logistic_randsearch.fit(xTr, yTr.values.ravel())
print("Best: %f using %s" % (logistic_rand_results.best_score_, logistic_rand_results.best_params_))

Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best: 0.726571 using {'C': 0.01}

In [123]:
l2_rs = logistic_rand_results.best_estimator_

In [124]:
# training score
accuracy_score(yTr.Result.values, l2_rs.predict(xTr))

0.7411325451151214

In [125]:
# testing score
accuracy_score(yTe.Result.values, l2_rs.predict(xTe))

0.75

**3.4.4** $l1$ Regularized

In [126]:
l1_lr = LogisticRegression(penalty='l1', solver='saga', max_iter = 10000, n_jobs=-1).fit(xTr, yTr.values.ravel())

In [127]:
# training score
accuracy_score(yTr.Result.values, l1_lr.predict(xTr))

0.7494710640945862

In [128]:
# testing score
l1_preds = l1_lr.predict(xTe)
accuracy_score(yTe.Result.values, l1_preds)

0.6666666666666666

**3.4.5** Penalty Tuning

In [129]:
l1_params = {'C':[0.001,0.01,0.10]}

# l1_randsearch = RandomizedSearchCV(estimator=LogisticRegression(penalty='l1',solver='saga', max_iter=10000),
#                                          param_distributions=l1_params,
l1_randsearch = GridSearchCV(estimator=LogisticRegression(penalty='l1',solver='saga', max_iter=10000),
                                         param_grid=l1_params,
                                         scoring='accuracy',
                                         verbose=1,
                                         n_jobs=-1,
                                         cv=5)

l1_rand_results = l1_randsearch.fit(xTr, yTr.values.ravel())
print("Best: %f using %s" % (l1_rand_results.best_score_, l1_rand_results.best_params_))

Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best: 0.746235 using {'C': 0.01}

In [130]:
l1_rs = l1_randsearch.best_estimator_ #LogisticRegression(C=0.10, solver='saga', max_iter=10000).fit(xTr, yTr.values.ravel())#

In [131]:
# training score
accuracy_score(yTr.Result.values, l1_rs.predict(xTr))

0.7489732420659614

In [132]:
# testing score
accuracy_score(yTe.Result.values, l1_rs.predict(xTe))

0.8333333333333334

### 3.5 Support Vector Machine

In [133]:
from sklearn.svm import SVC
svm = SVC(max_iter=100000).fit(xTr, yTr.values.ravel())

In [134]:
# training score
accuracy_score(yTr.Result.values, svm.predict(xTr))

0.7650280024891102

In [135]:
# testing score
accuracy_score(yTe.Result.values, svm.predict(xTe))

0.8333333333333334

**3.5.2** Penalty Tuning

In [136]:
svm_params = {'C':[0.001,0.01,0.10]}

# svm_randsearch = RandomizedSearchCV(estimator=SVC(max_iter=100000),
#                                          param_distributions=svm_params,
svm_randsearch = GridSearchCV(estimator=SVC(max_iter=100000),
                                         param_grid=svm_params,
                                         scoring='accuracy',
                                         verbose=2,
                                         cv=5,
                                         n_jobs=-1)

svm_rand_results = svm_randsearch.fit(xTr, yTr.values.ravel())
print("Best: %f using %s" % (svm_rand_results.best_score_, svm_rand_results.best_params_))

Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best: 0.733790 using {'C': 0.1}

In [137]:
svm_rs = svm_rand_results.best_estimator_

In [138]:
# training score
accuracy_score(yTr.Result.values, svm_rs.predict(xTr))

0.7438705662725575

In [139]:
# testing score
accuracy_score(yTe.Result.values, svm_rs.predict(xTe))

0.8333333333333334

### 3.6 Simple Neural Network ####

In [140]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(512,128,32),
                    activation='relu',
                    batch_size=64,
                    max_iter=200,
                    learning_rate_init=1e-4,
                    early_stopping=False,
                    alpha=1e-3,
                   ).fit(xTr, yTr.values.ravel())

In [141]:
# training score
accuracy_score(yTr.Result.values, mlp.predict(xTr))

1.0

In [142]:
# testing score
accuracy_score(yTe.Result.values, mlp.predict(xTe))

1.0

In [143]:
xTr

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
0,-0.897150,4.971314,4.420250,-2.25,1.96,1.94,2.949087,-0.463331,0,1,...,0.0,-8.660254e-01,-0.5,-6.152846e-01,-0.788305,3,0,0,1,0
1,0.113310,-0.626709,-0.574913,0.00,2.07,1.72,-1.012535,0.339286,0,0,...,0.0,-8.660254e-01,-0.5,-6.152846e-01,-0.788305,3,0,0,0,1
2,-0.228942,-0.793814,-0.325605,-0.25,2.02,1.88,-1.076494,-1.090232,0,0,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,1,0
3,-0.457111,-0.376051,-0.205457,-0.50,2.01,1.89,0.028602,-0.554505,0,1,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,0,1
4,-0.228942,-0.710261,-0.355643,-0.25,2.05,1.85,-1.472771,-1.597771,0,0,...,0.0,-8.660254e-01,-0.5,-6.287628e-01,-0.777597,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8030,0.384939,-0.793814,-0.610958,0.25,1.98,1.95,-0.494205,0.493468,0,0,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,0,0,0,6,11
8031,-0.478841,-0.543156,-0.025235,-0.50,1.95,1.98,-0.796193,-1.044273,0,0,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,2,0,0,10,10
8032,-0.087695,-0.626709,-0.475791,0.00,1.91,1.99,0.289395,0.342852,0,1,...,1.0,-2.449294e-16,1.0,-1.721336e-02,0.999852,1,1,0,14,9
8033,1.335640,0.375922,-0.821217,1.00,1.91,1.99,0.112570,1.898553,0,1,...,1.0,-2.449294e-16,1.0,6.432491e-16,1.000000,0,0,0,11,8
8034,-0.565762,0.125264,-0.085309,-0.75,2.00,1.90,1.155261,0.214204,0,1,...,1.0,-2.449294e-16,1.0,6.432491e-16,1.000000,0,2,0,12,12

In [144]:
yTr

      Result
0          2
1          0
2          2
3          0
4          0
...      ...
8030       2
8031       0
8032       2
8033       2
8034       2

[8035 rows x 1 columns]

In [145]:
xTe

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
8035,-0.728740,0.375922,0.815803,-1.25,1.99,1.91,2.032941,0.914889,0,1,...,1.25,0.5,0.866025,0.017213,0.999852,0,0,0,1,0
8036,-0.223510,-0.877366,-0.295568,-0.25,2.06,1.87,0.017564,-0.430240,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,0,1
8037,-0.647251,-0.250722,0.665617,-1.00,2.08,1.85,1.126850,-0.835428,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,0,1
8038,-0.402785,-0.459604,-0.205457,-0.50,2.05,1.88,-0.093836,0.206109,0,0,...,1.25,0.5,0.866025,0.034422,0.999407,1,0,0,1,0
8039,-0.185482,-0.250722,-0.460772,0.00,1.85,2.05,0.964589,1.061371,0,1,...,1.25,0.5,0.866025,0.034422,0.999407,0,0,0,0,0
8040,-0.212645,-0.626709,-0.385680,-0.25,2.11,1.82,-0.531461,0.388952,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,2,0,0,1,0
8041,-0.131156,-0.376051,-0.496817,0.00,1.92,2.01,0.755387,1.467545,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,0,0,0,1,0
8042,-0.294133,-0.793814,-0.235494,-0.25,1.94,1.99,-1.050980,-0.516583,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,0,0,0,1,0
8043,-0.864554,2.046974,3.218767,-1.75,1.99,1.94,2.267747,-0.373110,0,0,...,1.25,0.5,0.866025,0.051620,0.998667,2,0,0,0,1
8044,1.471455,0.233883,-0.815210,1.00,1.92,2.01,-0.513770,1.375705,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,3,0,0,0,0
8045,-0.592925,-0.041841,0.139969,-0.75,1.95,1.98,-0.347975,-1.120243,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,2,0,0,1,0
8046,0.113310,-0.626709,-0.571909,0.25,1.84,2.09,0.018264,0.572623,0,0,...,1.25,0.5,0.866025,0.068802,0.997630,2,0,0,0,1

In [146]:
yTe

      Result
8035       2
8036       0
8037       0
8038       2
8039       1
8040       2
8041       2
8042       2
8043       0
8044       1
8045       2
8046       0

### 3.7 Stacked Classifier ###

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [91]:
from sklearn.ensemble import StackingClassifier
stacked_clf = StackingClassifier(estimators=[('svm', SVC(max_iter=100000)), ('logistic', LogisticRegression(C=0.01, max_iter=10000))],
                                final_estimator=LogisticRegression(max_iter=10000),
                                n_jobs=-1).fit(xTr, yTr.values.ravel())

In [92]:
# training score
accuracy_score(yTr.Result.values, stacked_clf.predict(xTr))

0.7562929061784897

In [93]:
# testing score
accuracy_score(yTe.Result.values, stacked_clf.predict(xTe))

0.7589424572317263

## 4. Result Analysis ##

In [94]:
## TODO: breakdown results across divisions and/or teams; i.e., see how model performs individually at subgroups

## 5. Scrap Code ##

In [95]:
barcelona_df = learning_df[(learning_df['HomeTeam 17'] == 1) | (learning_df['AwayTeam 17'] == 1)]
barcelona_df

,B365H,B365D,B365A,AHh,B365AHH,B365AHA,HomeTeamELO,AwayTeamELO,Div 0,Div 1,...,Year,Sin_Month,Cos_Month,Sin_Day,Cos_Day,Last Match Result,HomeWinStreak,AwayWinStreak,HomeWinsToDate,AwayWinsToDate
3568,1.53,4.50,5.75,-1.00,1.99,1.94,1769.324219,1563.644165,1,0,...,2021,-8.660254e-01,-5.000000e-01,-0.680773,-0.732494,3,0,0,5,0
3591,2.62,3.50,2.62,0.00,2.01,1.92,1561.397583,1672.445435,1,0,...,2021,-8.660254e-01,-5.000000e-01,-0.763889,-0.645348,3,0,0,1,8
3648,1.83,3.75,4.20,-0.50,1.90,2.03,1607.371338,1575.017212,1,0,...,2021,-8.660254e-01,-5.000000e-01,-0.835925,-0.548843,3,1,0,6,0
3704,2.80,3.40,2.50,0.00,2.01,1.92,1569.211182,1619.204712,1,0,...,2021,-1.000000e+00,-1.836970e-16,-0.948362,-0.317191,3,0,0,1,4
3738,1.06,13.00,29.00,-3.00,1.86,2.07,2012.453613,1557.261597,1,0,...,2021,-1.000000e+00,-1.836970e-16,-0.976011,-0.217723,3,1,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7786,2.20,3.60,3.10,-0.25,1.96,1.97,1577.828491,1609.596436,1,0,...,2023,-5.000000e-01,8.660254e-01,-0.566702,0.823923,3,0,1,3,8
7811,2.63,3.60,2.55,0.00,1.96,1.97,1610.973022,1700.016113,1,0,...,2023,-2.449294e-16,1.000000e+00,-0.478734,0.877960,0,0,0,9,5
7865,1.67,4.20,4.75,-0.75,1.93,2.00,1675.109497,1623.018921,1,0,...,2023,-2.449294e-16,1.000000e+00,-0.385663,0.922640,1,0,0,6,8
7919,2.70,3.40,2.60,0.00,1.98,1.95,1608.252686,1654.181030,1,0,...,2023,-2.449294e-16,1.000000e+00,-0.255353,0.966848,2,1,0,10,6
7971,1.17,8.00,15.00,-2.00,1.86,2.04,1852.765503,1621.179077,1,0,...,2023,-2.449294e-16,1.000000e+00,-0.188227,0.982126,2,1,0,12,8

In [96]:
bxTr = xTr[(xTr['HomeTeam 17'] == 1) | (xTr['AwayTeam 17'] == 1)]
bxTe = xTe[(xTe['HomeTeam 17'] == 1) | (xTe['AwayTeam 17'] == 1)]

In [97]:
byTr, byTe = yTr.loc[bxTr.index,:], yTe.loc[bxTe.index,:]

In [98]:
# training score
accuracy_score(byTr, l1_lr.predict(bxTr))

0.8163265306122449

In [99]:
# testing score
accuracy_score(byTe, l1_lr.predict(bxTe))

0.6

In [100]:
# training score
accuracy_score(byTr, l2_lr.predict(bxTr))

0.7551020408163265

In [101]:
# testing score
accuracy_score(byTe, l2_lr.predict(bxTe))

0.6

## 6. Pytorch MLP ##

In [102]:
type(xTr)

pandas.core.frame.DataFrame

In [103]:
xTr.shape

(6118, 289)

In [104]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import pandas as pd
from sklearn.preprocessing import StandardScaler
from torch.utils.data import DataLoader, TensorDataset
import time
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f'Using device: {device}')

Using device: cuda

In [105]:
class Attention(nn.Module):
    def __init__(self, feature_dim):
        super(Attention, self).__init__()
        self.attention_weights = nn.Parameter(torch.randn(feature_dim))

    def forward(self, x):
        # 应用注意力权重
        weights = F.softmax(self.attention_weights, dim=0)
        # 加权求和
        x = x * weights
        return x
    
class MLP(nn.Module):
    def __init__(self):
        super(MLP, self).__init__()
        self.fc1 = nn.Linear(in_features=xTr.shape[1], out_features=512)
        self.bn1 = nn.BatchNorm1d(num_features=512)
        self.attention = Attention(512)
        self.dropout1 = nn.Dropout(p=0.2)
        
        self.fc2 = nn.Linear(in_features=512, out_features=128)
        self.bn2 = nn.BatchNorm1d(num_features=128)
        self.dropout2 = nn.Dropout(p=0.2)
        
        self.fc3 = nn.Linear(in_features=128, out_features=32)
        self.bn3 = nn.BatchNorm1d(num_features=32)
        self.dropout3 = nn.Dropout(p=0.2)
        
        self.fc4 = nn.Linear(in_features=32, out_features=3)  # 输出层改为3，对应三个类别

    def forward(self, x):
        x = self.dropout1(torch.relu(self.bn1(self.fc1(x))))
        x = self.attention(x)
        x = self.dropout2(torch.relu(self.bn2(self.fc2(x))))
        x = self.dropout3(torch.relu(self.bn3(self.fc3(x))))
        x = self.fc4(x)
        return x

# 数据预处理
scaler = StandardScaler()
xTr_scaled = scaler.fit_transform(xTr)
xTr_tensor = torch.tensor(xTr_scaled, dtype=torch.float32).to(device)
yTr_tensor = torch.tensor(yTr.values.ravel(), dtype=torch.long).to(device)

# 创建数据加载器
dataset = TensorDataset(xTr_tensor, yTr_tensor)
dataloader = DataLoader(dataset, batch_size=1024, shuffle=True)

# 创建模型实例
model = MLP().to(device)
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=1e-4, weight_decay=1e-4)

train_start = time.time()
# 训练模型
model.train()
for epoch in range(500):  # 假设训练200个epoch
    running_loss = 0.0
    correct = 0
    total = 0

    for inputs, labels in dataloader:
        inputs, labels = inputs.to(device), labels.to(device)

        optimizer.zero_grad()  # 清除之前的梯度

        outputs = model(inputs)  # 前向传播
        loss = criterion(outputs, labels)  # 计算损失
        loss.backward()  # 反向传播
        optimizer.step()  # 更新参数

        running_loss += loss.item() * inputs.size(0)  # 累计损失
        _, predicted = torch.max(outputs.data, 1)  # 获取预测结果
        total += labels.size(0)
        correct += (predicted == labels).sum().item()

    epoch_loss = running_loss / total
    epoch_acc = correct / total * 100  # 计算准确率

    # 每个epoch结束后输出
    print(f'Epoch {epoch+1}, Loss: {epoch_loss:.4f}, Accuracy: {epoch_acc:.2f}%')
print(f'训练时长： {time.time() - train_start}s')

Epoch 1, Loss: 1.1728, Accuracy: 30.99%
Epoch 2, Loss: 1.1524, Accuracy: 32.80%
Epoch 3, Loss: 1.1357, Accuracy: 34.90%
Epoch 4, Loss: 1.1194, Accuracy: 36.83%
Epoch 5, Loss: 1.1124, Accuracy: 37.25%
Epoch 6, Loss: 1.0967, Accuracy: 39.36%
Epoch 7, Loss: 1.0850, Accuracy: 41.30%
Epoch 8, Loss: 1.0721, Accuracy: 42.82%
Epoch 9, Loss: 1.0589, Accuracy: 45.88%
Epoch 10, Loss: 1.0478, Accuracy: 46.71%
Epoch 11, Loss: 1.0350, Accuracy: 48.66%
Epoch 12, Loss: 1.0227, Accuracy: 49.12%
Epoch 13, Loss: 1.0122, Accuracy: 51.19%
Epoch 14, Loss: 0.9978, Accuracy: 52.89%
Epoch 15, Loss: 0.9824, Accuracy: 54.66%
Epoch 16, Loss: 0.9681, Accuracy: 56.54%
Epoch 17, Loss: 0.9584, Accuracy: 57.75%
Epoch 18, Loss: 0.9532, Accuracy: 57.65%
Epoch 19, Loss: 0.9416, Accuracy: 58.16%
Epoch 20, Loss: 0.9313, Accuracy: 59.84%
Epoch 21, Loss: 0.9149, Accuracy: 60.77%
Epoch 22, Loss: 0.9033, Accuracy: 61.31%
Epoch 23, Loss: 0.8844, Accuracy: 63.78%
Epoch 24, Loss: 0.8761, Accuracy: 64.86%
Epoch 25, Loss: 0.8645, Accuracy: 65.32%
Epoch 26, Loss: 0.8523, Accuracy: 65.85%
Epoch 27, Loss: 0.8420, Accuracy: 67.18%
Epoch 28, Loss: 0.8284, Accuracy: 67.62%
Epoch 29, Loss: 0.8180, Accuracy: 68.98%
Epoch 30, Loss: 0.8116, Accuracy: 69.30%
Epoch 31, Loss: 0.7965, Accuracy: 70.30%
Epoch 32, Loss: 0.7922, Accuracy: 70.10%
Epoch 33, Loss: 0.7858, Accuracy: 70.38%
Epoch 34, Loss: 0.7745, Accuracy: 71.40%
Epoch 35, Loss: 0.7622, Accuracy: 71.80%
Epoch 36, Loss: 0.7547, Accuracy: 72.95%
Epoch 37, Loss: 0.7496, Accuracy: 73.00%
Epoch 38, Loss: 0.7379, Accuracy: 73.36%
Epoch 39, Loss: 0.7323, Accuracy: 73.72%
Epoch 40, Loss: 0.7325, Accuracy: 72.95%
Epoch 41, Loss: 0.7198, Accuracy: 73.90%
Epoch 42, Loss: 0.7151, Accuracy: 74.26%
Epoch 43, Loss: 0.7054, Accuracy: 74.63%
Epoch 44, Loss: 0.6993, Accuracy: 75.17%
Epoch 45, Loss: 0.6934, Accuracy: 75.34%
Epoch 46, Loss: 0.6852, Accuracy: 75.61%
Epoch 47, Loss: 0.6869, Accuracy: 75.53%
Epoch 48, Loss: 0.6790, Accuracy: 76.28%
Epoch 49, Loss: 0.6727, Accuracy: 76.77%
Epoch 50, Loss: 0.6657, Accuracy: 76.40%
Epoch 51, Loss: 0.6615, Accuracy: 77.17%
Epoch 52, Loss: 0.6525, Accuracy: 77.61%
Epoch 53, Loss: 0.6487, Accuracy: 77.77%
Epoch 54, Loss: 0.6405, Accuracy: 77.56%
Epoch 55, Loss: 0.6372, Accuracy: 77.88%
Epoch 56, Loss: 0.6358, Accuracy: 78.20%
Epoch 57, Loss: 0.6236, Accuracy: 78.96%
Epoch 58, Loss: 0.6244, Accuracy: 78.49%
Epoch 59, Loss: 0.6190, Accuracy: 78.80%
Epoch 60, Loss: 0.6125, Accuracy: 79.65%
Epoch 61, Loss: 0.6137, Accuracy: 78.85%
Epoch 62, Loss: 0.6063, Accuracy: 79.52%
Epoch 63, Loss: 0.5996, Accuracy: 80.01%
Epoch 64, Loss: 0.5973, Accuracy: 79.98%
Epoch 65, Loss: 0.5881, Accuracy: 80.43%
Epoch 66, Loss: 0.5834, Accuracy: 80.63%
Epoch 67, Loss: 0.5767, Accuracy: 80.86%
Epoch 68, Loss: 0.5750, Accuracy: 81.14%
Epoch 69, Loss: 0.5725, Accuracy: 80.97%
Epoch 70, Loss: 0.5623, Accuracy: 81.43%
Epoch 71, Loss: 0.5639, Accuracy: 81.37%
Epoch 72, Loss: 0.5587, Accuracy: 81.60%
Epoch 73, Loss: 0.5561, Accuracy: 81.56%
Epoch 74, Loss: 0.5499, Accuracy: 81.89%
Epoch 75, Loss: 0.5458, Accuracy: 81.61%
Epoch 76, Loss: 0.5349, Accuracy: 82.61%
Epoch 77, Loss: 0.5376, Accuracy: 82.07%
Epoch 78, Loss: 0.5264, Accuracy: 82.94%
Epoch 79, Loss: 0.5307, Accuracy: 82.77%
Epoch 80, Loss: 0.5253, Accuracy: 82.66%
Epoch 81, Loss: 0.5235, Accuracy: 82.71%
Epoch 82, Loss: 0.5132, Accuracy: 83.25%
Epoch 83, Loss: 0.5139, Accuracy: 83.41%
Epoch 84, Loss: 0.5113, Accuracy: 83.12%
Epoch 85, Loss: 0.5072, Accuracy: 83.39%
Epoch 86, Loss: 0.4992, Accuracy: 83.88%
Epoch 87, Loss: 0.4964, Accuracy: 84.18%
Epoch 88, Loss: 0.4890, Accuracy: 83.83%
Epoch 89, Loss: 0.4865, Accuracy: 84.08%
Epoch 90, Loss: 0.4867, Accuracy: 84.47%
Epoch 91, Loss: 0.4847, Accuracy: 84.34%
Epoch 92, Loss: 0.4834, Accuracy: 84.19%
Epoch 93, Loss: 0.4781, Accuracy: 84.62%
Epoch 94, Loss: 0.4748, Accuracy: 84.64%
Epoch 95, Loss: 0.4686, Accuracy: 84.80%
Epoch 96, Loss: 0.4671, Accuracy: 84.93%
Epoch 97, Loss: 0.4628, Accuracy: 84.88%
Epoch 98, Loss: 0.4550, Accuracy: 85.16%
Epoch 99, Loss: 0.4566, Accuracy: 84.57%
Epoch 100, Loss: 0.4476, Accuracy: 85.60%
Epoch 101, Loss: 0.4444, Accuracy: 85.24%
Epoch 102, Loss: 0.4385, Accuracy: 85.73%
Epoch 103, Loss: 0.4432, Accuracy: 85.35%
Epoch 104, Loss: 0.4408, Accuracy: 85.26%
Epoch 105, Loss: 0.4334, Accuracy: 85.70%
Epoch 106, Loss: 0.4342, Accuracy: 85.57%
Epoch 107, Loss: 0.4246, Accuracy: 86.19%
Epoch 108, Loss: 0.4267, Accuracy: 85.94%
Epoch 109, Loss: 0.4226, Accuracy: 85.73%
Epoch 110, Loss: 0.4186, Accuracy: 86.12%
Epoch 111, Loss: 0.4131, Accuracy: 86.32%
Epoch 112, Loss: 0.4175, Accuracy: 86.12%
Epoch 113, Loss: 0.4124, Accuracy: 86.42%
Epoch 114, Loss: 0.4061, Accuracy: 86.58%
Epoch 115, Loss: 0.4060, Accuracy: 86.53%
Epoch 116, Loss: 0.3994, Accuracy: 86.96%
Epoch 117, Loss: 0.3954, Accuracy: 86.71%
Epoch 118, Loss: 0.3933, Accuracy: 87.27%
Epoch 119, Loss: 0.3878, Accuracy: 87.23%
Epoch 120, Loss: 0.3913, Accuracy: 86.73%
Epoch 121, Loss: 0.3839, Accuracy: 87.35%
Epoch 122, Loss: 0.3821, Accuracy: 87.28%
Epoch 123, Loss: 0.3817, Accuracy: 87.02%
Epoch 124, Loss: 0.3737, Accuracy: 87.63%
Epoch 125, Loss: 0.3731, Accuracy: 87.45%
Epoch 126, Loss: 0.3738, Accuracy: 87.41%
Epoch 127, Loss: 0.3731, Accuracy: 87.56%
Epoch 128, Loss: 0.3712, Accuracy: 87.61%
Epoch 129, Loss: 0.3626, Accuracy: 87.79%
Epoch 130, Loss: 0.3596, Accuracy: 87.90%
Epoch 131, Loss: 0.3606, Accuracy: 87.69%
Epoch 132, Loss: 0.3599, Accuracy: 87.61%
Epoch 133, Loss: 0.3552, Accuracy: 88.53%
Epoch 134, Loss: 0.3560, Accuracy: 87.59%
Epoch 135, Loss: 0.3551, Accuracy: 87.94%
Epoch 136, Loss: 0.3543, Accuracy: 88.31%
Epoch 137, Loss: 0.3384, Accuracy: 88.62%
Epoch 138, Loss: 0.3457, Accuracy: 88.57%
Epoch 139, Loss: 0.3446, Accuracy: 88.28%
Epoch 140, Loss: 0.3384, Accuracy: 88.35%
Epoch 141, Loss: 0.3336, Accuracy: 88.62%
Epoch 142, Loss: 0.3382, Accuracy: 88.33%
Epoch 143, Loss: 0.3328, Accuracy: 88.51%
Epoch 144, Loss: 0.3244, Accuracy: 89.41%
Epoch 145, Loss: 0.3218, Accuracy: 89.29%
Epoch 146, Loss: 0.3298, Accuracy: 88.46%
Epoch 147, Loss: 0.3246, Accuracy: 88.71%
Epoch 148, Loss: 0.3300, Accuracy: 88.71%
Epoch 149, Loss: 0.3203, Accuracy: 88.79%
Epoch 150, Loss: 0.3175, Accuracy: 89.15%
Epoch 151, Loss: 0.3197, Accuracy: 89.00%
Epoch 152, Loss: 0.3111, Accuracy: 89.26%
Epoch 153, Loss: 0.3129, Accuracy: 89.24%
Epoch 154, Loss: 0.3117, Accuracy: 89.11%
Epoch 155, Loss: 0.3076, Accuracy: 89.36%
Epoch 156, Loss: 0.3049, Accuracy: 89.39%
Epoch 157, Loss: 0.2964, Accuracy: 89.56%
Epoch 158, Loss: 0.3043, Accuracy: 89.36%
Epoch 159, Loss: 0.2969, Accuracy: 89.62%
Epoch 160, Loss: 0.2924, Accuracy: 90.03%
Epoch 161, Loss: 0.3035, Accuracy: 89.16%
Epoch 162, Loss: 0.2934, Accuracy: 89.83%
Epoch 163, Loss: 0.2932, Accuracy: 89.96%
Epoch 164, Loss: 0.2943, Accuracy: 89.62%
Epoch 165, Loss: 0.2892, Accuracy: 90.26%
Epoch 166, Loss: 0.2892, Accuracy: 89.98%
Epoch 167, Loss: 0.2842, Accuracy: 90.31%
Epoch 168, Loss: 0.2821, Accuracy: 90.41%
Epoch 169, Loss: 0.2810, Accuracy: 90.45%
Epoch 170, Loss: 0.2799, Accuracy: 90.59%
Epoch 171, Loss: 0.2753, Accuracy: 90.68%
Epoch 172, Loss: 0.2767, Accuracy: 90.54%
Epoch 173, Loss: 0.2752, Accuracy: 90.47%
Epoch 174, Loss: 0.2789, Accuracy: 90.01%
Epoch 175, Loss: 0.2650, Accuracy: 91.26%
Epoch 176, Loss: 0.2687, Accuracy: 90.65%
Epoch 177, Loss: 0.2722, Accuracy: 90.41%
Epoch 178, Loss: 0.2675, Accuracy: 90.96%
Epoch 179, Loss: 0.2621, Accuracy: 91.19%
Epoch 180, Loss: 0.2654, Accuracy: 90.85%
Epoch 181, Loss: 0.2618, Accuracy: 90.76%
Epoch 182, Loss: 0.2663, Accuracy: 90.99%
Epoch 183, Loss: 0.2622, Accuracy: 91.08%
Epoch 184, Loss: 0.2561, Accuracy: 91.32%
Epoch 185, Loss: 0.2522, Accuracy: 91.53%
Epoch 186, Loss: 0.2601, Accuracy: 91.26%
Epoch 187, Loss: 0.2514, Accuracy: 91.32%
Epoch 188, Loss: 0.2460, Accuracy: 91.91%
Epoch 189, Loss: 0.2527, Accuracy: 91.83%
Epoch 190, Loss: 0.2504, Accuracy: 91.57%
Epoch 191, Loss: 0.2442, Accuracy: 91.91%
Epoch 192, Loss: 0.2422, Accuracy: 92.09%
Epoch 193, Loss: 0.2441, Accuracy: 92.17%
Epoch 194, Loss: 0.2442, Accuracy: 92.06%
Epoch 195, Loss: 0.2403, Accuracy: 92.14%
Epoch 196, Loss: 0.2409, Accuracy: 92.17%
Epoch 197, Loss: 0.2344, Accuracy: 92.11%
Epoch 198, Loss: 0.2347, Accuracy: 92.25%
Epoch 199, Loss: 0.2339, Accuracy: 92.22%
Epoch 200, Loss: 0.2329, Accuracy: 92.22%
Epoch 201, Loss: 0.2348, Accuracy: 92.02%
Epoch 202, Loss: 0.2267, Accuracy: 92.71%
Epoch 203, Loss: 0.2279, Accuracy: 92.64%
Epoch 204, Loss: 0.2265, Accuracy: 92.79%
Epoch 205, Loss: 0.2189, Accuracy: 93.05%
Epoch 206, Loss: 0.2189, Accuracy: 93.02%
Epoch 207, Loss: 0.2209, Accuracy: 92.91%
Epoch 208, Loss: 0.2190, Accuracy: 92.96%
Epoch 209, Loss: 0.2140, Accuracy: 93.15%
Epoch 210, Loss: 0.2258, Accuracy: 92.66%
Epoch 211, Loss: 0.2202, Accuracy: 93.15%
Epoch 212, Loss: 0.2152, Accuracy: 93.25%
Epoch 213, Loss: 0.2163, Accuracy: 92.79%
Epoch 214, Loss: 0.2116, Accuracy: 93.30%
Epoch 215, Loss: 0.2107, Accuracy: 93.63%
Epoch 216, Loss: 0.2091, Accuracy: 93.41%
Epoch 217, Loss: 0.2112, Accuracy: 93.35%
Epoch 218, Loss: 0.2070, Accuracy: 93.63%
Epoch 219, Loss: 0.2064, Accuracy: 93.59%
Epoch 220, Loss: 0.2052, Accuracy: 93.31%
Epoch 221, Loss: 0.2029, Accuracy: 93.35%
Epoch 222, Loss: 0.1978, Accuracy: 93.87%
Epoch 223, Loss: 0.1977, Accuracy: 93.87%
Epoch 224, Loss: 0.1922, Accuracy: 94.00%
Epoch 225, Loss: 0.1959, Accuracy: 94.02%
Epoch 226, Loss: 0.1965, Accuracy: 93.76%
Epoch 227, Loss: 0.1886, Accuracy: 94.33%
Epoch 228, Loss: 0.1938, Accuracy: 93.87%
Epoch 229, Loss: 0.1944, Accuracy: 94.12%
Epoch 230, Loss: 0.1909, Accuracy: 94.16%
Epoch 231, Loss: 0.1918, Accuracy: 94.03%
Epoch 232, Loss: 0.1896, Accuracy: 94.07%
Epoch 233, Loss: 0.1821, Accuracy: 94.38%
Epoch 234, Loss: 0.1887, Accuracy: 94.34%
Epoch 235, Loss: 0.1868, Accuracy: 94.26%
Epoch 236, Loss: 0.1808, Accuracy: 94.33%
Epoch 237, Loss: 0.1839, Accuracy: 93.87%
Epoch 238, Loss: 0.1810, Accuracy: 94.83%
Epoch 239, Loss: 0.1875, Accuracy: 93.74%
Epoch 240, Loss: 0.1749, Accuracy: 94.54%
Epoch 241, Loss: 0.1742, Accuracy: 94.80%
Epoch 242, Loss: 0.1744, Accuracy: 94.88%
Epoch 243, Loss: 0.1740, Accuracy: 94.87%
Epoch 244, Loss: 0.1744, Accuracy: 94.82%
Epoch 245, Loss: 0.1737, Accuracy: 94.56%
Epoch 246, Loss: 0.1662, Accuracy: 95.11%
Epoch 247, Loss: 0.1757, Accuracy: 94.64%
Epoch 248, Loss: 0.1615, Accuracy: 95.57%
Epoch 249, Loss: 0.1645, Accuracy: 95.28%
Epoch 250, Loss: 0.1671, Accuracy: 94.98%
Epoch 251, Loss: 0.1657, Accuracy: 95.16%
Epoch 252, Loss: 0.1705, Accuracy: 95.08%
Epoch 253, Loss: 0.1602, Accuracy: 95.31%
Epoch 254, Loss: 0.1615, Accuracy: 95.36%
Epoch 255, Loss: 0.1652, Accuracy: 94.87%
Epoch 256, Loss: 0.1620, Accuracy: 95.39%
Epoch 257, Loss: 0.1581, Accuracy: 95.33%
Epoch 258, Loss: 0.1637, Accuracy: 95.06%
Epoch 259, Loss: 0.1540, Accuracy: 95.85%
Epoch 260, Loss: 0.1585, Accuracy: 95.42%
Epoch 261, Loss: 0.1567, Accuracy: 95.21%
Epoch 262, Loss: 0.1486, Accuracy: 95.75%
Epoch 263, Loss: 0.1513, Accuracy: 95.86%
Epoch 264, Loss: 0.1489, Accuracy: 95.75%
Epoch 265, Loss: 0.1456, Accuracy: 96.09%
Epoch 266, Loss: 0.1485, Accuracy: 95.60%
Epoch 267, Loss: 0.1494, Accuracy: 95.31%
Epoch 268, Loss: 0.1451, Accuracy: 96.11%
Epoch 269, Loss: 0.1441, Accuracy: 95.82%
Epoch 270, Loss: 0.1377, Accuracy: 96.45%
Epoch 271, Loss: 0.1397, Accuracy: 96.11%
Epoch 272, Loss: 0.1434, Accuracy: 95.82%
Epoch 273, Loss: 0.1472, Accuracy: 95.47%
Epoch 274, Loss: 0.1385, Accuracy: 96.32%
Epoch 275, Loss: 0.1376, Accuracy: 96.49%
Epoch 276, Loss: 0.1366, Accuracy: 96.31%
Epoch 277, Loss: 0.1407, Accuracy: 96.01%
Epoch 278, Loss: 0.1368, Accuracy: 95.88%
Epoch 279, Loss: 0.1341, Accuracy: 96.11%
Epoch 280, Loss: 0.1320, Accuracy: 96.45%
Epoch 281, Loss: 0.1315, Accuracy: 96.31%
Epoch 282, Loss: 0.1354, Accuracy: 96.34%
Epoch 283, Loss: 0.1376, Accuracy: 96.13%
Epoch 284, Loss: 0.1366, Accuracy: 96.24%
Epoch 285, Loss: 0.1313, Accuracy: 96.21%
Epoch 286, Loss: 0.1335, Accuracy: 96.40%
Epoch 287, Loss: 0.1301, Accuracy: 96.39%
Epoch 288, Loss: 0.1307, Accuracy: 96.37%
Epoch 289, Loss: 0.1263, Accuracy: 96.68%
Epoch 290, Loss: 0.1219, Accuracy: 96.81%
Epoch 291, Loss: 0.1208, Accuracy: 96.91%
Epoch 292, Loss: 0.1252, Accuracy: 96.63%
Epoch 293, Loss: 0.1287, Accuracy: 96.31%
Epoch 294, Loss: 0.1218, Accuracy: 96.94%
Epoch 295, Loss: 0.1219, Accuracy: 96.80%
Epoch 296, Loss: 0.1237, Accuracy: 96.55%
Epoch 297, Loss: 0.1238, Accuracy: 96.50%
Epoch 298, Loss: 0.1202, Accuracy: 96.42%
Epoch 299, Loss: 0.1276, Accuracy: 96.57%
Epoch 300, Loss: 0.1233, Accuracy: 96.63%
Epoch 301, Loss: 0.1129, Accuracy: 96.91%
Epoch 302, Loss: 0.1220, Accuracy: 96.32%
Epoch 303, Loss: 0.1159, Accuracy: 96.94%
Epoch 304, Loss: 0.1148, Accuracy: 96.89%
Epoch 305, Loss: 0.1181, Accuracy: 96.89%
Epoch 306, Loss: 0.1169, Accuracy: 96.94%
Epoch 307, Loss: 0.1160, Accuracy: 96.88%
Epoch 308, Loss: 0.1146, Accuracy: 97.03%
Epoch 309, Loss: 0.1115, Accuracy: 96.93%
Epoch 310, Loss: 0.1103, Accuracy: 96.93%
Epoch 311, Loss: 0.1090, Accuracy: 97.04%
Epoch 312, Loss: 0.1103, Accuracy: 96.88%
Epoch 313, Loss: 0.1086, Accuracy: 97.20%
Epoch 314, Loss: 0.1119, Accuracy: 96.75%
Epoch 315, Loss: 0.1076, Accuracy: 97.20%
Epoch 316, Loss: 0.1073, Accuracy: 97.42%
Epoch 317, Loss: 0.1027, Accuracy: 97.20%
Epoch 318, Loss: 0.1104, Accuracy: 96.93%
Epoch 319, Loss: 0.1053, Accuracy: 97.19%
Epoch 320, Loss: 0.1028, Accuracy: 97.07%
Epoch 321, Loss: 0.1002, Accuracy: 97.32%
Epoch 322, Loss: 0.1040, Accuracy: 97.30%
Epoch 323, Loss: 0.1038, Accuracy: 97.20%
Epoch 324, Loss: 0.1029, Accuracy: 97.07%
Epoch 325, Loss: 0.0993, Accuracy: 97.52%
Epoch 326, Loss: 0.0994, Accuracy: 97.42%
Epoch 327, Loss: 0.0986, Accuracy: 97.34%
Epoch 328, Loss: 0.0966, Accuracy: 97.71%
Epoch 329, Loss: 0.1018, Accuracy: 97.19%
Epoch 330, Loss: 0.0987, Accuracy: 97.35%
Epoch 331, Loss: 0.0984, Accuracy: 97.32%
Epoch 332, Loss: 0.0931, Accuracy: 97.53%
Epoch 333, Loss: 0.0945, Accuracy: 97.70%
Epoch 334, Loss: 0.0952, Accuracy: 97.45%
Epoch 335, Loss: 0.0939, Accuracy: 97.61%
Epoch 336, Loss: 0.0958, Accuracy: 97.42%
Epoch 337, Loss: 0.0921, Accuracy: 97.55%
Epoch 338, Loss: 0.0961, Accuracy: 97.66%
Epoch 339, Loss: 0.0929, Accuracy: 97.71%
Epoch 340, Loss: 0.0956, Accuracy: 97.30%
Epoch 341, Loss: 0.0944, Accuracy: 97.35%
Epoch 342, Loss: 0.0931, Accuracy: 97.55%
Epoch 343, Loss: 0.0885, Accuracy: 97.97%
Epoch 344, Loss: 0.0943, Accuracy: 97.58%
Epoch 345, Loss: 0.0946, Accuracy: 97.52%
Epoch 346, Loss: 0.0944, Accuracy: 97.42%
Epoch 347, Loss: 0.0809, Accuracy: 97.86%
Epoch 348, Loss: 0.0907, Accuracy: 97.53%
Epoch 349, Loss: 0.0899, Accuracy: 97.52%
Epoch 350, Loss: 0.0893, Accuracy: 97.47%
Epoch 351, Loss: 0.0904, Accuracy: 97.55%
Epoch 352, Loss: 0.0916, Accuracy: 97.29%
Epoch 353, Loss: 0.0875, Accuracy: 97.73%
Epoch 354, Loss: 0.0857, Accuracy: 97.86%
Epoch 355, Loss: 0.0839, Accuracy: 97.89%
Epoch 356, Loss: 0.0881, Accuracy: 97.60%
Epoch 357, Loss: 0.0834, Accuracy: 97.91%
Epoch 358, Loss: 0.0802, Accuracy: 97.86%
Epoch 359, Loss: 0.0842, Accuracy: 97.74%
Epoch 360, Loss: 0.0906, Accuracy: 97.50%
Epoch 361, Loss: 0.0839, Accuracy: 97.86%
Epoch 362, Loss: 0.0812, Accuracy: 97.89%
Epoch 363, Loss: 0.0813, Accuracy: 97.78%
Epoch 364, Loss: 0.0777, Accuracy: 97.94%
Epoch 365, Loss: 0.0822, Accuracy: 97.60%
Epoch 366, Loss: 0.0821, Accuracy: 97.68%
Epoch 367, Loss: 0.0782, Accuracy: 98.09%
Epoch 368, Loss: 0.0786, Accuracy: 97.99%
Epoch 369, Loss: 0.0838, Accuracy: 97.63%
Epoch 370, Loss: 0.0809, Accuracy: 97.94%
Epoch 371, Loss: 0.0805, Accuracy: 97.94%
Epoch 372, Loss: 0.0723, Accuracy: 98.20%
Epoch 373, Loss: 0.0779, Accuracy: 98.05%
Epoch 374, Loss: 0.0786, Accuracy: 98.04%
Epoch 375, Loss: 0.0754, Accuracy: 98.02%
Epoch 376, Loss: 0.0774, Accuracy: 97.74%
Epoch 377, Loss: 0.0741, Accuracy: 98.07%
Epoch 378, Loss: 0.0751, Accuracy: 97.94%
Epoch 379, Loss: 0.0767, Accuracy: 98.01%
Epoch 380, Loss: 0.0755, Accuracy: 97.91%
Epoch 381, Loss: 0.0742, Accuracy: 98.17%
Epoch 382, Loss: 0.0705, Accuracy: 98.22%
Epoch 383, Loss: 0.0739, Accuracy: 98.12%
Epoch 384, Loss: 0.0729, Accuracy: 98.12%
Epoch 385, Loss: 0.0728, Accuracy: 98.09%
Epoch 386, Loss: 0.0700, Accuracy: 98.37%
Epoch 387, Loss: 0.0739, Accuracy: 98.17%
Epoch 388, Loss: 0.0704, Accuracy: 98.23%
Epoch 389, Loss: 0.0696, Accuracy: 98.20%
Epoch 390, Loss: 0.0699, Accuracy: 97.99%
Epoch 391, Loss: 0.0697, Accuracy: 98.17%
Epoch 392, Loss: 0.0720, Accuracy: 98.10%
Epoch 393, Loss: 0.0686, Accuracy: 98.38%
Epoch 394, Loss: 0.0736, Accuracy: 98.07%
Epoch 395, Loss: 0.0699, Accuracy: 98.05%
Epoch 396, Loss: 0.0672, Accuracy: 98.28%
Epoch 397, Loss: 0.0738, Accuracy: 97.94%
Epoch 398, Loss: 0.0665, Accuracy: 98.45%
Epoch 399, Loss: 0.0710, Accuracy: 98.07%
Epoch 400, Loss: 0.0696, Accuracy: 98.33%
Epoch 401, Loss: 0.0693, Accuracy: 98.10%
Epoch 402, Loss: 0.0627, Accuracy: 98.46%
Epoch 403, Loss: 0.0662, Accuracy: 98.22%
Epoch 404, Loss: 0.0621, Accuracy: 98.41%
Epoch 405, Loss: 0.0662, Accuracy: 98.22%
Epoch 406, Loss: 0.0679, Accuracy: 98.15%
Epoch 407, Loss: 0.0653, Accuracy: 98.30%
Epoch 408, Loss: 0.0619, Accuracy: 98.33%
Epoch 409, Loss: 0.0640, Accuracy: 98.37%
Epoch 410, Loss: 0.0680, Accuracy: 98.15%
Epoch 411, Loss: 0.0663, Accuracy: 98.15%
Epoch 412, Loss: 0.0630, Accuracy: 98.30%
Epoch 413, Loss: 0.0659, Accuracy: 98.14%
Epoch 414, Loss: 0.0666, Accuracy: 98.23%
Epoch 415, Loss: 0.0615, Accuracy: 98.32%
Epoch 416, Loss: 0.0611, Accuracy: 98.40%
Epoch 417, Loss: 0.0617, Accuracy: 98.46%
Epoch 418, Loss: 0.0614, Accuracy: 98.38%
Epoch 419, Loss: 0.0649, Accuracy: 98.20%
Epoch 420, Loss: 0.0659, Accuracy: 98.32%
Epoch 421, Loss: 0.0598, Accuracy: 98.33%
Epoch 422, Loss: 0.0568, Accuracy: 98.73%
Epoch 423, Loss: 0.0627, Accuracy: 98.38%
Epoch 424, Loss: 0.0595, Accuracy: 98.46%
Epoch 425, Loss: 0.0586, Accuracy: 98.61%
Epoch 426, Loss: 0.0585, Accuracy: 98.48%
Epoch 427, Loss: 0.0640, Accuracy: 98.25%
Epoch 428, Loss: 0.0578, Accuracy: 98.56%
Epoch 429, Loss: 0.0618, Accuracy: 98.28%
Epoch 430, Loss: 0.0555, Accuracy: 98.56%
Epoch 431, Loss: 0.0602, Accuracy: 98.33%
Epoch 432, Loss: 0.0535, Accuracy: 98.55%
Epoch 433, Loss: 0.0544, Accuracy: 98.55%
Epoch 434, Loss: 0.0583, Accuracy: 98.53%
Epoch 435, Loss: 0.0584, Accuracy: 98.51%
Epoch 436, Loss: 0.0589, Accuracy: 98.50%
Epoch 437, Loss: 0.0558, Accuracy: 98.56%
Epoch 438, Loss: 0.0574, Accuracy: 98.45%
Epoch 439, Loss: 0.0545, Accuracy: 98.69%
Epoch 440, Loss: 0.0540, Accuracy: 98.59%
Epoch 441, Loss: 0.0540, Accuracy: 98.61%
Epoch 442, Loss: 0.0532, Accuracy: 98.66%
Epoch 443, Loss: 0.0520, Accuracy: 98.73%
Epoch 444, Loss: 0.0560, Accuracy: 98.51%
Epoch 445, Loss: 0.0542, Accuracy: 98.50%
Epoch 446, Loss: 0.0549, Accuracy: 98.64%
Epoch 447, Loss: 0.0521, Accuracy: 98.66%
Epoch 448, Loss: 0.0596, Accuracy: 98.46%
Epoch 449, Loss: 0.0543, Accuracy: 98.64%
Epoch 450, Loss: 0.0489, Accuracy: 98.66%
Epoch 451, Loss: 0.0509, Accuracy: 98.63%
Epoch 452, Loss: 0.0515, Accuracy: 98.77%
Epoch 453, Loss: 0.0534, Accuracy: 98.79%
Epoch 454, Loss: 0.0499, Accuracy: 98.66%
Epoch 455, Loss: 0.0518, Accuracy: 98.63%
Epoch 456, Loss: 0.0483, Accuracy: 98.92%
Epoch 457, Loss: 0.0509, Accuracy: 98.74%
Epoch 458, Loss: 0.0508, Accuracy: 98.59%
Epoch 459, Loss: 0.0476, Accuracy: 98.86%
Epoch 460, Loss: 0.0519, Accuracy: 98.59%
Epoch 461, Loss: 0.0495, Accuracy: 98.59%
Epoch 462, Loss: 0.0486, Accuracy: 98.74%
Epoch 463, Loss: 0.0497, Accuracy: 98.71%
Epoch 464, Loss: 0.0515, Accuracy: 98.53%
Epoch 465, Loss: 0.0457, Accuracy: 98.97%
Epoch 466, Loss: 0.0506, Accuracy: 98.58%
Epoch 467, Loss: 0.0508, Accuracy: 98.66%
Epoch 468, Loss: 0.0525, Accuracy: 98.58%
Epoch 469, Loss: 0.0510, Accuracy: 98.55%
Epoch 470, Loss: 0.0557, Accuracy: 98.22%
Epoch 471, Loss: 0.0475, Accuracy: 98.87%
Epoch 472, Loss: 0.0481, Accuracy: 98.55%
Epoch 473, Loss: 0.0501, Accuracy: 98.71%
Epoch 474, Loss: 0.0497, Accuracy: 98.63%
Epoch 475, Loss: 0.0446, Accuracy: 98.94%
Epoch 476, Loss: 0.0463, Accuracy: 98.73%
Epoch 477, Loss: 0.0470, Accuracy: 98.81%
Epoch 478, Loss: 0.0489, Accuracy: 98.63%

In [106]:
# 假设 xTe 和 yTe 是 pandas DataFrame 或 Series
# 数据预处理
xTe_scaled = scaler.fit_transform(xTe)  # 使用与训练数据相同的标准化参数
xTe_tensor = torch.tensor(xTe_scaled, dtype=torch.float32).to(device)
yTe_tensor = torch.tensor(yTe.values.ravel(), dtype=torch.long).to(device)

# 创建数据加载器
test_dataset = TensorDataset(xTe_tensor, yTe_tensor)
test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)

# 设置模型为评估模式
model.eval()

# 初始化用于计算准确率的变量
correct = 0
total = 0

# 不计算梯度，因为在评估模式下不需要进行反向传播
with torch.no_grad():
    for inputs, labels in test_loader:
        outputs = model(inputs)
        _, predicted = torch.max(outputs.data, 1)
        total += labels.size(0)
        correct += (predicted == labels).sum().item()

# 计算准确率
accuracy = correct / total
print(f'Accuracy on test set: {accuracy * 100:.2f}%')

Accuracy on test set: 69.67%

## 7. Pytorch Transformer ##

In [107]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset

class TransformerModel(nn.Module):
    def __init__(self, input_dim, num_classes, num_heads, num_layers, dropout=0.1):
        super(TransformerModel, self).__init__()
        self.input_dim = input_dim
        self.num_classes = num_classes
        self.model_dim = input_dim  # 通常情况下，模型维度与输入维度相同

        # Transformer Encoder Layer
        encoder_layer = nn.TransformerEncoderLayer(
            d_model=self.model_dim,
            nhead=num_heads,
            dim_feedforward=512,  # 前馈网络的维度
            dropout=dropout,
            batch_first=True
        )

        # Transformer Encoder
        self.transformer_encoder = nn.TransformerEncoder(encoder_layer, num_layers=num_layers)

        # 输出层
        self.output_layer = nn.Linear(self.model_dim, self.num_classes)

        # Batch Normalization
        self.bn = nn.BatchNorm1d(self.model_dim)

    def forward(self, x):
        # 增加一个假的序列维度
        x = x.unsqueeze(1)
        # Transformer Encoder
        x = self.transformer_encoder(x)

        # Batch Normalization
        x = self.bn(x[:, 0, :])  # 取序列的第一个元素进行批量归一化

        # 输出层
        x = self.output_layer(x)
        return x

# 补充维度
n_samples_xTr = xTr.shape[0]
n_samples_xTe = xTe.shape[0]
for i in range(1, 4):  # 从 1 到 3，因为需要添加三列
    xTr[f'pad{i}'] = 0  # 添加填充列，初始化为 0
    xTe[f'pad{i}'] = 0  # 添加填充列，初始化为 0

# 参数设置
input_dim = xTr.shape[1]  # 输入特征的维度
num_classes = 3  # 类别数
num_heads = 10  # 注意力头的数量
num_layers = 3  # Transformer层的数量
dropout = 0.8  # Dropout比率

# 创建模型
model = TransformerModel(input_dim, num_classes, num_heads, num_layers, dropout).to(device)

# 损失函数和优化器
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=1e-4)

# 数据加载
# 假设 xTr 和 xTe 已经是适当的 torch.Tensor 对象
xTr_values = xTr.values.astype(float)
xTe_values = xTe.values.astype(float)

xTr_tensor = torch.tensor(xTr_values, dtype=torch.float32).to(device)
xTe_tensor = torch.tensor(xTe_values, dtype=torch.float32).to(device)
yTr_tensor = torch.tensor(yTr.values, dtype=torch.long).to(device).squeeze(1)
yTe_tensor = torch.tensor(yTe.values, dtype=torch.long).to(device).squeeze(1)
# 转换为 one-hot 编码
yTr_tensor = F.one_hot(yTr_tensor, num_classes=num_classes).float()
yTe_tensor = F.one_hot(yTe_tensor, num_classes=num_classes).float()

# 数据加载器
train_dataset = TensorDataset(xTr_tensor, yTr_tensor)
train_loader = DataLoader(train_dataset, batch_size=512, shuffle=False)

test_dataset = TensorDataset(xTe_tensor, yTe_tensor)
test_loader = DataLoader(test_dataset, batch_size=512, shuffle=False)

train_start = time.time()
# 训练模型
model.train()
for epoch in range(500):  # 运行更多的 epoch 以获得更好的结果
    running_loss = 0.0
    correct = 0
    total = 0
    for inputs, labels in train_loader:
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()
        running_loss += loss.item() * inputs.size(0)  # 累计损失
        _, predicted = torch.max(outputs.data, 1)  # 获取预测结果
        _, truth = torch.max(labels.data, 1)
        total += truth.size(0)
        correct += (predicted == truth).sum().item()

    epoch_loss = running_loss / total
    epoch_acc = correct / total * 100  # 计算准确率

    # 每个epoch结束后输出
    print(f'Epoch {epoch+1}, Loss: {epoch_loss:.4f}, Accuracy: {epoch_acc:.2f}%')
print(f'训练时长： {time.time() - train_start}s')

# 设置模型为评估模式
model.eval()

# 初始化用于计算准确率的变量
correct = 0
total = 0

# 不计算梯度，因为在评估模式下不需要进行反向传播
with torch.no_grad():
    for inputs, labels in test_loader:
        outputs = model(inputs)
        _, predicted = torch.max(outputs.data, 1)
        _, truth = torch.max(labels.data, 1)
        total += labels.size(0)
        correct += (predicted == truth).sum().item()

# 计算准确率
accuracy = correct / total
print(f'Accuracy on test set: {accuracy * 100:.2f}%')

AssertionError: embed_dim must be divisible by num_heads